{% extends '/mail/base.html.twig' %}
{% trans_default_domain 'mail' %}

{% block body %}

    <table class="new-comment-admin">
        <tr>
            <td>
                <h1 style="text-align:center;">
                Додано новий коментар 
                {% if comment.type.value == 'question' %}
                    (Питання)
                {% elseif comment.type.value == 'reply'%}
                    (Відповідь)
                {% elseif comment.type.value == 'review'%}
                    (Відгук)
                {% elseif comment.type.value == 'complaint'%}
                    (Скарга)
                {% endif %}
                </h1>
            </td>
        </tr>
        <tr class="info-row">
            <td>
                <p>
                    ID: <a href="{{ adminUrl }}">{{ comment.id }}</a>
                </p>
            </td>
        </tr>
        <tr class="info-row">
            <td>
                <p>Автор: {{ comment.name }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <div class="block-title">
                    {% if comment.type.value == 'question' %}
                        <p>Зміст питання:</p>
                    {% elseif comment.type.value == 'reply'%}
                        <p>Зміст відповіді:</p>
                    {% elseif comment.type.value == 'review'%}
                        <p>Зміст відгуку:</p>
                    {% elseif comment.type.value == 'complaint'%}
                        <p>Зміст скарги:</p>
                    {% endif %} 
                </div>
                <div class="comment-text">
                    <p class="user-name">{{ comment.user.firstName | default(comment.name) }}</p>

                    <p>{{ comment.text }}</p>
                </div>
            </td>
        </tr>
    </table>

{% endblock %}
