{# @var array registrationData #}

{% extends '/mail/base.html.twig' %}
{% trans_default_domain 'mail' %}

{% block body %}

	<table class="registration">
		<tr>
			<td>
				<h1>Заявка на створення медзакладу</h1>
			</td>
		</tr>

		<tr>
			<td>
				<h2 style="margin-top:40px">Про заклад</h2>
			</td>
		</tr>

		<tr>
			<td>
				<p>
					Повна назва:
					{{ registrationData[1].fullName }}
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					Тип власності:
					{{ ('ownership_form.' ~ (registrationData[1].ownershipForm|lower)) | trans() }}
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					Код ЄДРПОУ:
					{{ registrationData[1].edrpou }}
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					Про заклад:
					{{ registrationData[1].about|default('Не вказано') }}
				</p>
			</td>
		</tr>

		<tr>
			<td>
				<h2 style="margin-top:40px">Користувач</h2>
			</td>
		</tr>

		<tr>
			<td>
				<p>
					Ім'я:
					{{ registrationData[2].firstName }}
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					Прізвище:
					{{ registrationData[2].lastName }}
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					Телефон:
					{{ registrationData[2].phone }}
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					E-mail:
					{{ registrationData[2].email }}
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					Позиція:
					{{ registrationData[2].position|default('Не вказано') }}
				</p>
			</td>
		</tr>

	</table>

{% endblock %}
