{% extends '/mail/base.html.twig' %}
{% trans_default_domain 'mail' %}

{% block body %}

    <table class="registration">
        <tr>
            <td>
                <h1 style="margin-top:12px">Заявка на створення медзакладу</h1>
            </td>
        </tr>
        <tr>
            <td>
                Автор: {{ formData.userType == 'visitor' ? 'Відвідувач' : 'Представник закладу' }}
            </td>
        </tr>
        {% if formData.userType == 'institution' %}
        <tr>
            <td>
                Контакти: {{ formData.contacts }}
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>
                <h2 style="margin-top:12px">Про заклад</h2>
            </td>
        </tr>
        <tr>
            <td>
                Коротка назва: {{ formData.shortName }}
            </td>
        </tr>
        <tr>
            <td>
                Повна назва: {{ formData.fullName }}
            </td>
        </tr>
        <tr>
            <td>
                Тип закладу: {{ formData.institutionType }}
            </td>
        </tr>
        <tr>
            <td>
                Форма власності: {{ ('ownership_form.'~formData.ownershipForm.value)|trans }}
            </td>
        </tr>
        <tr>
            <td>
                Адреса: {{ formData.address }}
            </td>
        </tr>
        <tr>
            <td>
                ПІБ керівника лікарні: {{ formData.chiefFullName }}
            </td>
        </tr>
        <tr>
            <td>
                ПІБ головного лікаря: {{ formData.headDoctorFullName }}
            </td>
        </tr>
        <tr>
            <td>
                Номери телефонів: {{ formData.phones }}
            </td>
        </tr>
        <tr>
            <td>
                E-mail: {{ formData.email }}
            </td>
        </tr>
        <tr>
            <td>
                Графік роботи: {{ formData.schedule }}
            </td>
        </tr>
        <tr>
            <td>
                Код ЄДРПОУ: {{ formData.edrpou }}
            </td>
        </tr>
        {% if formData.institutionStatus is not empty %}
        <tr>
            <td>
                Статус лікарні: {{ ('status.'~formData.institutionStatus)|trans }}
            </td>
        </tr>
        {% endif %}
    </table>

{% endblock %}
