{% if cityDistricts %}
    {# <form class="city-discticts-wrapper" action="{{ path('api_institution_list') }}"> #}
    <div class="filter-title">Райони міста</div>

    <fieldset>
        {% for cityDistrict in cityDistricts %}
            <div class="checkbox-wrapper">
                {# <a href="{{ tu_url(cityDistrict) }}">{{ tu_full_name(cityDistrict) }}</a> #}
                <input type="checkbox" name="cityDistrict_{{ cityDistrict.id }}" value="{{ cityDistrict.id }}" id="cityDistrict_{{ cityDistrict.id }}">
                <label for="cityDistrict_{{ cityDistrict.id }}">{{ tu_name(cityDistrict) }}</label>
            </div>
        {% endfor %}
    </fieldset>
{% endif %}

{# <form > #}