<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    prefix="og: https://ogp.me/ns#"
    itemscope=""
    itemtype="https://schema.org/WebPage"
    lang="{{ app.request.locale }}"
>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
        <link rel="icon" href="{{ asset('favicon.ico') }}">

        {{ leogout_seo('basic') }}
        {{ leogout_seo('og') }}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <link rel="preload" as="image" href="{{ asset('img/info/info.webp') }}">
        <link rel="preload" as="image" href="{{ asset('img/info/info.webp') }}">
        <link rel="preload" as="image" href="{{ asset('img/info/info.png') }}">

        {% block schema_org %}
            {{ schema_org() }}
        {% endblock %}

        {# TODO: Set dynamic locale ( hl=LOCALE ) #}
        <script src="https://www.google.com/recaptcha/api.js?render=explicit&hl=uk" async defer></script>

        {% if googleAnalyticsID is defined and googleAnalyticsID is not empty %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsID }}"></script>
            {% if googleAnalyticsKey is defined and googleAnalyticsKey is not empty %}
                <script>
                    window.dataLayer = window.dataLayer || [];

                    function gtag() {
                        dataLayer.push(arguments);
                    }
                    gtag('js', new Date());
                    gtag('config', '{{ googleAnalyticsID }}');
                    gtag('config', '{{ googleAnalyticsKey }}');

                </script>
            {% endif %}
        {% endif %}

        <script>
            const captchaPublicKey = '{{ captchaPublicKey ? captchaPublicKey : null }}'
            if (captchaPublicKey) {
                window.captchaPublicKey = captchaPublicKey
            }
        </script>
    </head>
    <body>

        {% block topAd %}
            {% include "components/ad/ad_top.html.twig" with { fixed: false } %}
        {% endblock %}
        
        {% block header %}
            {%- include 'layout/header.html.twig' with { hasSearch: true } -%}
        {% endblock %}

        {%- block breadcrumb %}
            {{ knp_menu_render('breadcrumb', {'template': 'components/breadcrumb.html.twig'}) }}
        {%- endblock %}

        <div class="main-wrapper">
            {% block body %}{% endblock %}
        </div>

        {%- include 'layout/footer.html.twig' -%}

        {# {% include "modal/login_modal.html.twig" %} #}

        {% include "components/ad/ad_popup.html.twig" %}
        
        {% include "components/ad/eh_banner.html.twig" %}

        {% include "components/ad/ad_big_popup.html.twig" %}

        {% block investorForm %}
            {{ render(controller('App\\Controller\\InvestorRequestController::getForm')) }}
        {% endblock %}

        {% block successModal %}
            {% include "components/comment/success_message.html.twig" %}
        {% endblock %}

        <div id="catalog-menu-bg"></div>

        <div id="current-schedule-block"></div>

        {%- block backToTop %}
            <div id="back-to-top" title="Наверх">
                <i class="icon arrow-up"></i>
            </div>
        {%- endblock %}
{#        <div id="snowflakes"></div>#}
    </body>
</html>
