{% extends "layout/auth_page_layout.html.twig" %}

{% block stylesheets %}
	{{ encore_entry_link_tags('registerPage') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('registerPage') }}
{% endblock %}

{% block title %}Реєстрація медзакладу
{% endblock %}

{% block backBtn %}
	<a class="button plain-text back-btn" href="{{ path('auth_page') }}">
		<i class="icon arrow-left"></i>
	</a>
{% endblock %}

{% block body %}
	<section class="container">
		<div class="institution form-wrapper" id="new-institution-wrapper">
			<div class="info-block">
				<h2>Реєстрація медзакладу</h2>

				<div class="text">
					<div class="step-1 hidden">
						Інформація про медзаклад
					</div>
					<div class="step-2 hidden">
						Завдяки цим даним, ми зможемо надати Вам зворотній зв’язок для надання доступу до усіх функцій сайту
					</div>
					<div class="step-3 hidden">
						Контакти для зворотнього зв’язку з MICTO
					</div>
				</div>
			</div>

			<div class="current-step">
				<a href="{{ path('institution_registration_page', { step: 1 }) }}" data-step="1" class="step hide-underline"></a>
				<a href="{{ path('institution_registration_page', { step: 2 }) }}" data-step="2" class="step hide-underline"></a>
				<a href="{{ path('institution_registration_page', { step: 3 }) }}" data-step="3" class="step hide-underline"></a>
			</div>

			{% include "form/institution_register/multi_step_form.html.twig" with { form, step } %}
		</div>
	</section>

{% endblock %}
