{% extends 'registration/register.html.twig' %}

{% block title %}Реєстрація пацієнта
{% endblock %}

{% block body %}
	<section class="container">
		<div class="form-wrapper user" id="new-user-wrapper">
			<div class="info-block">
				<h2>Реєстрація пацієнта</h2>

				{# <div class="social-auth-wrapper">
					<button class="button secondary color-9">Продовжити через Google</button>
					<button class="button secondary color-9">Продовжити через Facebook</button>
				</div> #}
			</div>

			{# <div class="or">
				або
			</div> #}

			{{ form_start(form) }}

			<div>
				<div class="input-row">
					{{ form_label(form.firstName) }}
					{{ form_widget(form.firstName) }}
					{{ form_help(form.firstName) }}

					{% if form_errors(form.firstName) %}
						<div class="error-message">
							{{ form_errors(form.firstName) }}
						</div>
					{% endif %}
				</div>
				<div class="input-row">
					{{ form_label(form.lastName) }}
					{{ form_widget(form.lastName) }}
					{{ form_help(form.lastName) }}

					{% if form_errors(form.lastName) %}
						<div class="error-message">
							{{ form_errors(form.lastName) }}
						</div>
					{% endif %}
				</div>
				{# <div class="input-row">
					{{ form_label(form.middleName) }}
					{{ form_widget(form.middleName) }}
					{{ form_help(form.middleName) }}

					{% if form_errors(form.middleName) %}
						<div class="error-message">
							{{ form_errors(form.middleName) }}
						</div>
					{% endif %}
				</div> #}
				{# <div class="input-row date-of-birth">
					{{ form_label(form.dateOfBirth) }}
					{{ form_widget(form.dateOfBirth) }}
					{{ form_help(form.dateOfBirth) }}

					{% if form_errors(form.dateOfBirth) %}
						<div class="error-message">
							{{ form_errors(form.dateOfBirth) }}
						</div>
					{% endif %}
				</div> #}
				<div class="input-row">
					{{ form_label(form.email) }}
					{{ form_widget(form.email) }}
					{{ form_help(form.email) }}

					{% if form_errors(form.email) %}
						<div class="error-message">
							{{ form_errors(form.email) }}
						</div>
					{% endif %}
				</div>
				<div class="input-row">
					{{ form_label(form.password.first) }}
					{{ form_widget(form.password.first) }}
					{{ form_help(form.password.first) }}

					{% if form_errors(form.password.first) %}
						<div class="error-message">
							{{ form_errors(form.password.first) }}
						</div>
					{% endif %}
				</div>
				<div class="input-row">
					{{ form_label(form.password.second) }}
					{{ form_widget(form.password.second) }}
					{{ form_help(form.password.second) }}

					{% if form_errors(form.password.second) %}
						<div class="error-message">
							{{ form_errors(form.password.second) }}
						</div>
					{% endif %}
				</div>
				<div class="input-row checkbox-wrapper terms">
					{{ form_widget(form.agreeTerms) }}
					{{ form_label(form.agreeTerms) }}
					{{ form_help(form.agreeTerms) }}

					{% if form_errors(form.agreeTerms) %}
						<div class="error-message">
							{{ form_errors(form.agreeTerms) }}
						</div>
					{% endif %}
				</div>
			</div>

			{{ form_row(form.recaptcha) }}

			<div class="submit-wrapper">
				{{ form_widget(form.submit, {'attr':{'class':'button primary'}}) }}
			</div>

			{{ form_end(form) }}
		</div>
	</section>

{% endblock %}
