{{ form_start(form, {
	'action': path('cabinet_login'),
	'attr': {
        'class': 'login-form',
		'id': 'login-form'
	}
})}}

<div class="global-form-error">
    {{ form_errors(form) }}
</div>


<div class="input-row">
	{{ form_label(form.username) }}
	{{ form_widget(form.username) }}
	{{ form_errors(form.username) }}
</div>

<div class="input-row">
	{{ form_label(form.password) }}
	{{ form_widget(form.password) }}
	{{ form_errors(form.password) }}
</div>

{{ form_row(form.recaptcha, {
		'row_attr': {
			'class': 'recaptcha',
		},
	}) }}

{{ form_row(form.submit, {
		'attr': {
			'class': 'button'
		}
	}) }}

{{ form_end(form) }}
