{# @var City city #}
{# @var CityDistrict[] cityDistricts #}
{# @var Institution[] institutions #}
{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('catalog') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('catalog') }}
{% endblock %}

{% block investorForm %}{% endblock %}

{% block body %}
    <section class="main-title-block">
        <div class="container">
            <h1 class="title">
                {{ tu_name(city, true) }}
            </h1>
            <div class="units-amount"><span>{{ numUnits }}</span> {{ 'common.institution_count_label'|trans({'%count%': numUnits}) }}</div>
        </div>
    </section>

    {% if cityDistricts is defined and cityDistricts %}
        <section>
            <h2>Райони міста</h2>

        <ul>
            {% for cityDistrict in cityDistricts %}
                <li>
                    <a href="{{ tu_url(cityDistrict) }}">{{ tu_name(cityDistrict) }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}


    <section class="institutions-wrapper">
    
        {% if institutions|length > 0 %}
            <div class="filter-block">
                <button class="button primary color-2" id="toggle-filters-block">
                    Фільтри
                </button>

                <div class="filters">
                    <div class="block-title">Фільтри</div>
                    
                    {% include "comments/selected_filters_block.html.twig" %}

                    {{ render(controller(
                        'App\\Controller\\InstitutionController::getCityInstitutionTypes',
                        {'cityId': city.id}
                    )) }}

                </div>

                <div class="filters-bg"></div>
            </div>
        {% endif %}

        <div class="institutions-list">
            <div class="block-title">Медичні заклади</div>

            <div id="institutions-container" class="{{ institutions is defined and institutions|length > 0 ? '' : 'empty' }}">
                {% include('components/institution/list.html.twig') with {institutions: institutions} only %}
            </div>
        </div>
    </section>

{% endblock %}
