{# @var District district #}
{# @var City[] cities #}
{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('catalog') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('catalog') }}
{% endblock %}

{% block investorForm %}{% endblock %}

{% block body %}

    <section class="main-title-block">
        <div class="container">
            <h1 class="title">{{ tu_name(district, true) }}</h1>
            <div class="units-amount">
                <span>{{ numUnits }}</span> {{ 'common.institution_count_label'|trans({'%count%': numUnits}) }}
            </div>
        </div>
    </section>

    <section class="cities-list-wrapper">
        <h2>Виберіть місто обласного значення</h2>

    {% include('components/main_area_cities.html.twig') with {cities: cities, area:district.area} only %}
</section>

    <section class="cities-list-wrapper">
        <h2>Населені пункти</h2>

    <ul style="column-count: 4">
        {% for city in cities %}
            <li>
                <a href="{{ tu_url(city) }}">{{ tu_name(city) }}</a>
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
