{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('searchPage') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('searchPage') }}
{% endblock %}

{% block investorForm %}{% endblock %}

{% block body %}

    <section>
        <div class="block-title main-title">
            Результати пошуку по запиту: <span>{{ searchQuery }}</span>
        </div>

        {% if pagination.getTotalItemCount %}
            <div class="sections">
                {# Населені пункти #}
                {% if result.areas is not empty or result.cities is not empty or result.districts is not empty %}
                    <div class="block-title">Розділи</div>
                {% endif %}

                {% for area in result.areas %}
                    <div class="result-block">
                        <a href="{{ tu_url(area) }}">{{ tu_name(area, true) }}</a>
                    </div>
                {% endfor %}

                {% for city in result.cities %}
                    <div class="result-block">
                        <a href="{{ tu_url(city) }}">{{ tu_name(city) }}</a>
                        <div class="chain">
                            <a href="{{ tu_url(city.area) }}">{{ tu_name(city.area) }}</a>
                            {% if city.district %}
                                <i class="icon chevron-rigth dark"></i> <a href="{{ tu_url(city.district) }}">{{ tu_name(city.district) }}</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                {% for district in result.districts %}
                    <div class="result-block">
                        <a href="{{ tu_url(district) }}">{{ tu_name(district) }}</a>
                        <div>
                            <a href="{{ tu_url(district.area) }}">{{ tu_name(district.area) }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>


            <div class="types">
                {# Типи мед. закладів #}
                {% if result.types is not empty %}
                    <div class="block-title block-title-mobile">Типи медичних установ</div>
                {% endif %}

                {% for type in result.types %}
                    <div class="result-block">
                        <a href="{{ unit_type_url(type) }}">
                            {{ type.name }}
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div class="units">
                {# Мед. заклади #}
                {% if result.units is not empty %}
                    <div class="block-title block-title-mobile">Медичні установи</div>
                {% endif %}

                {% for unit in result.units %}
                    <div class="result-block unit">
                        {% if unit.institution.ownershipForm == constant('App\\Entity\\Institution\\OwnershipForm::STATE') %}
                            <i class="icon gov"></i>
                        {% elseif unit.institution.ownershipForm == constant('App\\Entity\\Institution\\OwnershipForm::PRIVATE') %}
                            <i class="icon priv"></i>
                        {% elseif unit.institution.ownershipForm == constant('App\\Entity\\Institution\\OwnershipForm::COLLECTIVE') %}
                            <i class="icon coll"></i>
                        {% endif %}
                        <div class="right-side">
                            <a href="{{ institution_unit_url(unit) }}">
                                {{ unit.name }}
                            </a>
                            <div class="chain">
                                <a href="{{ tu_url(unit.city.area) }}">{{ tu_name(unit.city.area) }}</a>
                                {% if unit.city.district %}
                                    <i class="icon chevron-rigth dark"></i> <a href="{{ tu_url(unit.city.district) }}">
                                        {{ tu_name(unit.city.district) }}
                                    </a>
                                {% endif %}
                                <i class="icon chevron-rigth dark"></i> <a href="{{ tu_url(unit.city) }}">{{ tu_name(unit.city) }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            <div class="page-pagination">
                {{- knp_pagination_render(pagination) -}}
            </div>
        {% else %}
            <div class="not-found">
                <img src="{{ asset('img/not_found.png') }}" loading="lazy" alt="немає результатів">
                <p>
                    Нам дуже шкода, але по вашому запиту <span>немає результатів</span>
                </p>

                <div class="buttons-wrapper">
                    <button class="button primary open-catalog">Скористатись каталогом</button>
                    <button class="button primary color-1 change-search">Змінити запит</button>
                </div>
            </div>
        {% endif %}

    </section>

{% endblock %}
