{{ form_start(form, {
	'action': path('reset_password_request_page'),
	'attr': {
		'id': 'reset-pass-request'
	}
})}}


	<div class="input-row">
		{{ form_label(form.username) }}
		{{ form_widget(form.username) }}
	    {{ form_errors(form.username) }}
	</div>

	{{ form_row(form.recaptcha, {
		'row_attr': {
			'class': 'recaptcha',
		},
	}) }}

	{{ form_row(form.submit, {
		'attr': {
			'class': 'button'
		}
	}) }}

{{ form_end(form) }}