{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('static') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('static') }}
{% endblock %}

{% block body %}

    <section class="about-block">
        <div class="block-title">
            <h1 class="main-title">Про проект</h1>
        </div>

        <div class="col-2 row about-1">
            <div class="info-text col">
                <p>Ми, команда проєкту Micto.ua. У 2014-ому році, у зв’язку з війною і появою переселенців в країні, до нас звернулось МОЗ України (Міністерство з Охорони Здоров’я України) з проханням розробити і впровадити інтернет-проект, який допоможе людям швидко і просто знайти медичний заклад на території України.</p>
                <p>При цьому міністерство не було готове виділити державні кошти на реалізацію даного проекту. Тому я, Дмитро Юрійович Асмагілов взяв ініціативу в свої руки і вклав власні сили в стартап "MICTO.UA", залучаючи співробітників компанії ТОВ "SOFT.UA" для реалізації та підтримки працездатності цього ресурсу.</p>
                <p>Після оголошення війни росією Україні 24 лютого 2022 року, відчуваємо, що подібний ресурс стане ще більш затребуваним, в звʼязку з величезною кількістю біженців. </p>
            </div>

            <div class="image col">
                <img src="{{ asset('img/about_1.png') }}" alt="логотип 1">
            </div>
        </div>

        <div class="col-2 row about-2">
            <div class="image col">
                <img src="{{ asset('img/about_2.png') }}" loading="lazy" alt="MICTO">
            </div>

            <div class="info-text col">
                <p>Багато медичних закладів зазнало бомбардувань та зруйновані, медичний персонал евакуйовано, про те вони можуть та надають медичну допомогу на нових місцях. Своєчасна інформація про розташування та працездатність того чи іншого медичного закладу, врятує не одне життя.</p>
                <p>Окрім цього, велика кількість людей в блокованих містах, через відсутність руху транспорту та закриття аптек, не мають доступ до необхідних для них ліків, що загрожує їх життю так само як і бомбардування.</p>
                <p>Ми відчуваємо необхідність в такий складний час, зробити все від нас залежне, щоб допомогти людям які шукають медичні заклади та потребують медичної допомоги.</p>
            </div>
        </div>

        <div class="col-2 row">
            <div class="info-text col">
                <p>Особливу увагу ми надаємо підтримці дітям та людям літнього віку, які є найбільш вразливими верствами населення.</p>
                <p>Організовано гуманітарний штаб в Києві, в якому за рахунок внесків та пожертвувань закуповуються медикаменти, засоби гігієни. Співпрацюємо з іноземними фондами у допомозі по евакуації дітей за кордон(в першу чергу, це діти-сироти, які опинились в найскрутнішому становищі).</p>
            </div>
        </div>
    </section>

    <section class="analyticts">
        <div class="block-title">
            <h2 class="main-title">Інвесторам</h2>
        </div>

        <div class="row">
            <div class="info-text col">
                <p>Для того, щоб зробити проект привабливим для рекламодавців, необхідно збільшити аудиторію проекту від 100 тис. відвідувачів в день.</p>
            </div>
        </div>

        <div class="col-2 row">
            <div class="image col">
                {% if is_mobile() %}
                    <img src="{{ asset('/img/static/analytics_2014-min-mob.webp') }}" alt="Google Analytics за 2014" loading="lazy" width="633" height="168" />
                {% else %}
                    <img src="{{ asset('/img/static/analytics_2014-min.webp') }}" alt="Google Analytics за 2014" loading="lazy" width="633" height="168" />
                {% endif %}
            </div>
            <div class="info-text col">
                <div class="sub-title-block">
                    Google Analytics за 2014
                </div>
                <p>9741 користувачів за місяць, максимально - 506 за день (15.12.2014), середній показник за рік - 272 користувачі в день</p>
            </div>
        </div>

        <div class="col-2 row">
            <div class="image col">
                {% if is_mobile() %}
                    <img src="{{ asset('/img/static/analytics_2015-min-mob.webp') }}" alt="Google Analytics за 2015" loading="lazy" width="633" height="168" />
                {% else %}
                    <img src="{{ asset('/img/static/analytics_2015-min.webp') }}" alt="Google Analytics за 2015" loading="lazy" width="633" height="168" />
                {% endif %}
            </div>
            <div class="info-text col">
                <div class="sub-title-block">
                    Google Analytics за 2015
                </div>
                <p>37468 користувачів за місяць, максимально - 1784 за день (14.12.2015), середній показник за рік - 830 користувачів в день</p>
            </div>
        </div>

        <div class="col-2 row">
            <div class="image col">
                {% if is_mobile() %}
                    <img src="{{ asset('/img/static/analytics_2016-min-mob.webp') }}" alt="Google Analytics за 2016" loading="lazy" width="633" height="168" />
                {% else %}
                    <img src="{{ asset('/img/static/analytics_2016-min.webp') }}" alt="Google Analytics за 2016" loading="lazy" width="633" height="168" />
                {% endif %}
            </div>
            <div class="info-text col">
                <div class="sub-title-block">
                    Google Analytics за 2016
                </div>
                <p>54748 користувачів за місяць, максимально - 2698 за день (12.12.2016), середній показник за рік - 1542 користувачів в день37468 користувачів за місяць, максимально - 1784 за день (14.12.2015), середній показник за рік - 830 користувачів в день</p>
            </div>
        </div>

        <div class="col-2 row">
            <div class="image col">
                {% if is_mobile() %}
                    <img src="{{ asset('/img/static/analytics_2017-min-mob.webp') }}" alt="Google Analytics за 2017" loading="lazy" width="633" height="168" />
                {% else %}
                    <img src="{{ asset('/img/static/analytics_2017-min.webp') }}" alt="Google Analytics за 2017" loading="lazy" width="633" height="168" />
                {% endif %}
            </div>
            <div class="info-text col">
                <div class="sub-title-block">
                    Google Analytics за 2017
                </div>
                <p>70409 користувачів за місяць, максимально - 3259 за день (27.11.2017), середній показник за рік - 2051 користувачів в день</p>
            </div>
        </div>

        <div class="col-2 row">
            <div class="image col">
                {% if is_mobile() %}
                    <img src="{{ asset('/img/static/analytics_2018-min-mob.webp') }}" alt="Google Analytics за 2018" loading="lazy" width="633" height="168" />
                {% else %}
                    <img src="{{ asset('/img/static/analytics_2018-min.webp') }}" alt="Google Analytics за 2018" loading="lazy" width="633" height="168" />
                {% endif %}
            </div>
            <div class="info-text col">
                <div class="sub-title-block">
                    Google Analytics за 2018
                </div>
                <p>86865 користувачів за місяць, максимально - 8232 за день (17.14.2018), середній показник за рік - 1914 користувачів в день</p>
            </div>
        </div>

        <div class="col-2 row">
            <div class="image col">
                {% if is_mobile() %}
                    <img src="{{ asset('/img/static/analytics_2019-min-mob.webp') }}" alt="Google Analytics за 2019" loading="lazy" width="633" height="168" />
                {% else %}
                    <img src="{{ asset('/img/static/analytics_2019-min.webp') }}" alt="Google Analytics за 2019" loading="lazy" width="633" height="168" />
                {% endif %}
            </div>
            <div class="info-text col">
                <div class="sub-title-block">
                    Google Analytics за 2019
                </div>
                <p>54929 користувачів за місяць, максимально - 2619 за день (12.08.2019), середній показник за рік - 1532 користувачів в день</p>
            </div>
        </div>

        <div class="col-2 row">
            <div class="image col">
                {% if is_mobile() %}
                    <img src="{{ asset('/img/static/analytics_2020-min-mob.webp') }}" alt="Google Analytics за 2020" loading="lazy" width="633" height="168" />
                {% else %}
                    <img src="{{ asset('/img/static/analytics_2020-min.webp') }}" alt="Google Analytics за 2020" loading="lazy" width="633" height="168" />
                {% endif %}
            </div>
            <div class="info-text col">
                <div class="sub-title-block">
                    Google Analytics за 2020
                </div>
                <p>102279 користувачів за місяць, максимально - 5125 за день (25.08.2020), середній показник за рік - 2888 користувачів в день</p>
            </div>
        </div>

        <div class="col-2 row">
            <div class="image col">
                {% if is_mobile() %}
                    <img src="{{ asset('/img/static/analytics_2021-min-mob.webp') }}" alt="Google Analytics за 2021" loading="lazy" width="633" height="168" />
                {% else %}
                    <img src="{{ asset('/img/static/analytics_2021-min.webp') }}" alt="Google Analytics за 2021" loading="lazy" width="633" height="168" />
                {% endif %}
            </div>
            <div class="info-text col">
                <div class="sub-title-block">
                    Google Analytics за 2021
                </div>
                <p>160366 користувачів за місяць, максимально - 7543 за день (22.03.2021), середній показник за рік - 4396 користувачів в день</p>
            </div>
        </div>

        <div class="col-2 row">
            <div class="image col">
                {% if is_mobile() %}
                    <img src="{{ asset('/img/static/analytics_2022-min-mob.webp') }}" alt="Google Analytics за 2022" loading="lazy" width="633" height="168" />
                {% else %}
                    <img src="{{ asset('/img/static/analytics_2022-min.webp') }}" alt="Google Analytics за 2022" loading="lazy" width="633" height="168" />
                {% endif %}
            </div>
            <div class="info-text col">
                <div class="sub-title-block">
                    Google Analytics за 2022
                </div>
                <p>206257 користувачів за місяць, максимально - 9214 за день (15.08.2022), середній показник за рік - 5238 користувачів в день</p>
            </div>
        </div>
    
    </section>

    <section class="steps">
        <div class="block-title">
            <h2 class="sub-title">Потреба в інвестиціях окремих етапів:</h2>
            <ol>
                <li>Зробити особисті кабінети медичної установи, користувача, лікаря - $ 20-40 тис</li>
                <li>Створити систему рейтингу - $ 50-100 тис</li>
                <li>Додати систему відгуків, коментарів (комунікація на сайті) - $ 20-40 тис</li>
                <li>Додати каталог аптек - $ 50-100 тис</li>
                <li>Додати каталог симптомів - $ 50-100 тис</li>
                <li>Додати каталог препаратів - $ 50-100 тис</li>
                <li>Зробити каталоги перехресними - $ 50 тис</li>
                <li>Додати гнучко настроюваний пошук - $ 50-100 тис</li>
                <li>Додати можливості телемедицини - $ 100-200 тис</li>
            </ol>
        </div>

        <div class="col-2 row">
            <div class="info-text col">
                <p>Якщо Ви інвестор і Вас зацікавив наш проект, надсилайте нам Ваші контакти (форма для відправки повідомлення) або зв'яжіться з нами по одному з контактів нижче.</p>
            </div>
        </div>

        <div class=contact-link-wrapper>
            <button data-micromodal-trigger="investor-modal" class="button primary contact-button">Станьте інвестором проекту</button>
        </div>
    </section>

    <section class="docs">
        <div class="mind-map">
            <div class="block-title">
                <h2 class="sub-title">Мапа думок (MindMap)</h2>
            </div>
            <a href="{{ asset('/img/static/mindmap.png') }}" title="MICTO.UA Мапа думок (MindMap)" target="_blank">
                {% if is_mobile() %}
                    <img src="{{ asset('/img/static/mindmap_min-mob.webp') }}" loading="lazy" alt="Мапа думок (MindMap)" />
                {% else %}
                    <img src="{{ asset('/img/static/mindmap_min.webp') }}" loading="lazy" alt="Мапа думок (MindMap)" />
                {% endif %}
            </a>
            <a class="button plain-text download-mind-map" href="{{ asset('/img/static/mindmap.png') }}" title="MICTO.UA Мапа думок (MindMap)" target="_blank" download>
                Завантажити мапу думок (PNG, 6.7Mb)
            </a>
        </div>

        <div class="copyrigth">
            <div class="block-title">
                <h2 class="sub-title">&quot;Свідоцтво про реєстрацію авторського права&quot;</h2>
            </div>
            {% if is_mobile() %}
                <img src="{{ asset('/img/static/certificate-mob.webp') }}" loading="lazy" alt="Свідоцтво про реєстрацію авторського права"/>
            {% else %}
                <img src="{{ asset('/img/static/certificate.webp') }}" loading="lazy" alt="Свідоцтво про реєстрацію авторського права"/>
            {% endif %}
        </div>
    </section>

    <section class="about-logo">
        <div>
            <div class="block-title">
                <h2 class="sub-title">Створення логотипу</h2>
            </div>
            <div class="col-2 row">
                <div class="info-text col">
                    <p>Ми поєднали класичний символ чотирьох сторін світу та наш український орнамент і отримали логотип для MICTO.UA</p>
                </div>
            </div>
            <div class="row">
                <div class="logo-equation">
                    <div>
                        {% if is_mobile() %}
                            <img src="{{ asset('/img/static/logo_puntos_cardinales_200-mob.webp') }}" loading="lazy" alt="logo puntos cardinales" />
                        {% else %}
                            <img src="{{ asset('/img/static/logo_puntos_cardinales_200.webp') }}" loading="lazy" alt="logo puntos cardinales" />
                        {% endif %}
                    </div>
                    <div class="plus">
                        <span>+</span>
                    </div>
                    <div>
                        {% if is_mobile() %}
                            <img src="{{ asset('/img/static/logo_ornament_200-mob.webp') }}" loading="lazy" alt="logo ornament" />
                        {% else %}
                            <img src="{{ asset('/img/static/logo_ornament_200.webp') }}" loading="lazy" alt="logo ornament" />
                        {% endif %}
                    </div>
                    <div class="equals">
                        <span>=</span>
                    </div>
                    <div>
                        {% if is_mobile() %}
                            <img src="{{ asset('/img/static/logo_200-mob.webp') }}" loading="lazy" alt="logo" />
                        {% else %}
                            <img src="{{ asset('/img/static/logo_200.webp') }}" loading="lazy" alt="logo" />
                        {% endif %}
                    </div>
                    <div class="result">
                        {% if is_mobile() %}
                            <img src="{{ asset('/img/static/logo_combined.png') }}" loading="lazy" alt="logo micto.ua" />
                        {% else %}
                            <img src="{{ asset('/img/static/logo_combined.png') }}" loading="lazy" alt="logo micto.ua" />
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 16px;">
                <div class="info-text col">
                    <p>Проект "MICTO.UA" виступає в якості MVP продукту в проекті "Я і здоров’я".</p>
                </div>
            </div>
            <div class="row">
                <div class="info-text col">
                    <p>MVP, мінімально життєздатний продукт (англ. Minimum viable product — MVP) — продукт з мінімальним функціоналом, який можна дати користувачам для використання. Використовується для тестування ідей у розробці програм з мінімальними затратами ресурсів. Зазвичай реалізується шляхом вдалого планування релізів, коли у перший реліз входять лише основні функції (або одна найважливіша), що дає можливість користувачам уже почати працювати, не очікуючи остаточної версії.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="next-steps">
        <div>
            <div class="block-title">
                <h2 class="sub-title">Етапи подальшого розвитку проекту MICTO.UA</h2>
            </div>
        </div>
        <div class="row">
            <ol>
                <li>Проектування та прототипування з урахуванням додавання на сайт нового функціоналу (відгуки, особисті кабінети, реклама, товари та послуги).</li>
                <li>
                    <p>Створити на сайті особисті кабінети:</p>
                    <ul>
                        <li>медичної установи (приватної, державної і комунальної);</li>
                        <li>користувача / пацієнта;</li>
                        <li>лікаря;</li>
                        <li>відділення в медичній установі;</li>
                        <li>виробника товарів / послуг в сфері здоров'я;</li>
                        <li>рекламодавця.</li>
                    </ul>
                </li>
                <li>Надати всім учасникам можливість заповнювати інформацію про себе. Для користувачів - безкоштовна послуга, для інших учасників - платна (перший місяць - безкоштовно). На основі цієї інформації створювати нові сторінки на сайті.</li>
                <li>Надати можливість зареєстрованим користувачам писати відгуки, ставити оцінки (аналогічно з hotline.ua) про установи, відділення, лікарів, товари і послуги, а лікарям, відділеннями, установам, виробникам - можливість відповідати на відгуки.</li>
                <li>Почати формувати загальний рейтинг пацієнт - лікар - відділення - медична установа - виробник-аптека-ліки.</li>
                <li>Доопрацювати дизайн для точок 480px, 768px, 992px.</li>
                <li>Роботи по маркетингу. Запустити активну рекламу проекту.</li>
                <li>Додати каталог аптек.</li>
                <li>Додати каталог симптомів та захворювань.</li>
                <li>Додати каталог препаратів-ліків.</li>
                <li>Зробити всі каталоги перехресними між собою.</li>
                <li>Додати гнучкий пошук.</li>
                <li>Купити, встановити та налаштувати нові сервери для проекту.</li>
                <li>Додати можливості телемедицини.</li>
                <li>Розробка фірмового стилю.</li>
                <li>Роботи по маркетингу. Масштабна PR-кампанія в інтернеті, на радіо і ТВ.</li>
            </ol>
        </div>
        
        <div class=contact-link-wrapper>
            <button data-micromodal-trigger="investor-modal" class="button primary contact-button">Станьте інвестором проекту</button>
        </div>
    </section>


{% endblock %}
