{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('static') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('static') }}
{% endblock %}

{% block body %}
    <section class="faq">
        <div class="block-title">
            <h1 class="main-title">Інвесторам</h1>
        </div>

        <div class="col-2 ">
            <div class="info-text col">
                <p>Я, Дмитро Асмагілов, хочу, щоб кожна людина на Землі змогла безпечно, швидко, якісно, доступно за ціною і місцем розташування, без всілякої дискримінації отримати в повному обсязі інформацію, послуги та товари в області здоров&rsquo;я.</p>
                <p>Я хочу зробити прозорим ринок медичних послуг і товарів в сфері здоров&rsquo;я для формування чесних і демократичних відносин між суб&rsquo;єктами цього ринку (людина - лікар).</p>
            </div>
        </div>

        <div class="info-text" itemscope itemtype="https://schema.org/FAQPage">
            <section id="faq-block-1" class="faq-block" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <h3 itemprop="name">
                    Кому потрібен проект?
                </h3>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <ol itemprop="text">
                        <li>Клієнт / пацієнт / покупець</li>
                        <li>Лікар / фахівець</li>
                        <li>Клініки та лікарні</li>
                        <li>Аптеки</li>
                        <li>Фармацевтичні компанії</li>
                        <li>Інститути та наукові центри</li>
                        <li>Навчальні заклади</li>
                        <li>Лабораторії</li>
                        <li>Страхові компанії</li>
                        <li>Туристичні компанії</li>
                        <li>Виробники обладнання, одягу, взуття та ін.</li>
                        <li>Банки (ін. фінансові установи)</li>
                        <li>Міжнародні організації та компанії в області розвитку охорони здоров&rsquo;я</li>
                    </ol>
                </div>

                <div class="col-2 ">
                    <div class="info-text col">
                        <p>Якщо Ви інвестор і Вас зацікавив наш проект, надсилайте нам Ваші контакти (форма для відправки повідомлення) або зв'яжіться з нами по одному з контактів нижче.</p>
                    </div>
                </div>
            </section>

            <section id="faq-block-2" class="faq-block" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <h3 itemprop="name">
                    У чому новизна проекту?
                </h3>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <ol itemprop="text">
                        <li>Об&rsquo;єднання розрізнених учасників ринку &quot;Я і Здоров&rsquo;я&quot; (приватних, державних і комунальних).</li>
                        <li>Відкритий доступ до новітніх наукових розробок.</li>
                        <li>Об&rsquo;єднання, структурування і уніфікація інформації в рамках одного проекту.</li>
                        <li>Створення рейтингу &quot;Живий Рейтинг Довіри&quot; та &quot;Індекс Здоров&rsquo;я&quot;.</li>
                        <li>Експертний контроль проекту.</li>
                        <li>Надання свободи вибору, переміщення, законодавчої системи (держави).</li>
                    </ol>
                </div>
            </section>

            <section id="faq-block-3" class="faq-block" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <h3 itemprop="name">
                    Яким способом проект вирішить проблеми?
                </h3>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <ol itemprop="text">
                        <li>Введення &quot;Живий Рейтинг Довіри&quot; та &quot;Індексу Здоров&rsquo;я&quot;.</li>
                        <li>Двосторонній експертний контроль доступності, чесності, актуальності, якості, вартості товарів і послуг (з боку споживачів і виробників товарів та послуг).</li>
                        <li>Онлайн медична картка із захистом персональних даних (хмарний сервіс).</li>
                        <li>Віртуальна реєстратура (хмарний сервіс).</li>
                        <li>Особисті кабінети для різних суб&rsquo;єктів в області здоров&rsquo;я і розвитку.</li>
                        <li>Контроль за станом здоров&rsquo;я за допомогою спеціальних пристроїв (Samsung, Reebok і інші), а також своєчасне оповіщення про погіршення здоров&rsquo;я.</li>
                        <li>Синхронізація порталу зі швидкою допомогою.</li>
                        <li>Створення індикативних цін на медичні товари та послуги.</li>
                    </ol>
                </div>
            </section>

            <section id="faq-block-4" class="faq-block" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <h3 itemprop="name">
                    Як проект буде заробляти?
                </h3>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <ol itemprop="text">
                        <li>Гроші від реклами.</li>
                        <li>Платні послуги в проекті (коучинг, навчання, консультація).</li>
                        <li>Продаж товарів.</li>
                        <li>Страхування.</li>
                        <li>Туризм.</li>
                        <li>Відсоток від безпечних угод.</li>
                    </ol>
                </div>
            </section>

            {# <section id="faq-block-4" class="faq-block" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <h3 itemprop="name">
                    Які вигоди дає проект?
                </h3>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <ol itemprop="text">
                        <li>Збільшення довіри.</li>
                        <li>Збільшення можливостей (свобода вибору, переміщення).</li>
                        <li>Збільшення прозорості (процедур, комунікацій, замовлень).</li>
                        <li>Справедливість формування цін на послуги (індикативні ціни).</li>
                        <li>Економія ресурсів.</li>
                        <li>Створення та впровадження інновацій.</li>
                        <li>Підвищення інформованості (боротьба зі стереотипами в області здоров&rsquo;я).</li>
                        <li>Спрощення або повна ліквідація бюрократичних процедур.</li>
                    </ol>
                </div>
            </section> #}

            <section id="faq-block-5" class="faq-block" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <h3 itemprop="name">
                    Етапи реалізації проекту?
                </h3>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <div itemprop="text">
                        <div class="step">
                            <div><strong>1 етап:</strong></div>
                            <ol>
                                <li>Формування команди проекту, комунікація з державними та недержавними організаціями, організація підприємства.</li>
                                <li>Створення документації проекту: технічне завдання, статут і правила, договори і т.д.</li>
                                <li>Формування, структурування, об&rsquo;єднання каталогів (інформації).</li>
                                <li>Синхронізація даних з ресурсами, які можуть підвищити ефективність проекту.</li>
                                <li>Розробка особистих кабінетів для всіх учасників проекту - пацієнтів (клієнтів), лікарів (фахівців), компаній (організацій).</li>
                                <li>Формування експертних груп.</li>
                                <li>Запуск системи &quot;Живий Рейтинг Довіри&quot; та &quot;Індекс Здоров&rsquo;я&quot;.</li>
                            </ol>
                        </div>
                        <div class="step">
                            <div><strong>2 етап:</strong></div>
                            <ol>
                                <li>Медіа і інтернет реклама проекту, робота на репутацію і популяризацію.</li>
                                <li>Запуск контекстної реклами всередині проекту.</li>
                                <li>Розширення сфер діяльності (ветеринарія).</li>
                                <li>Покращення і розширення можливостей проекту.</li>
                            </ol>
                        </div>
                        <div class="step">
                            <div><strong>3 етап:</strong></div>
                            <ol>
                                <li>Масштабування проекту на інші країни.</li>
                                <li>Покращення і розширення можливостей проекту для інших країн.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <section id="faq-block-6" class="faq-block" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <h3 itemprop="name">
                    Скільки грошей потрібно, щоб реалізувати проект?
                </h3>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <div itemprop="text">
                        <p><strong>0 етап:</strong> посівна інвестиція (Pre-seed) до 1 млн. $ США (основна сума - це витрати на заробітну плату);<br />
                            <strong>1 етап:</strong> (Seed) від 3 до 10 млн. $ США (основна сума - це витрати на заробітну плату);<br />
                            <strong>2 етап:</strong> від 10 до 100 млн. $ США (основна сума - це витрати на маркетинг і заробітну плату);<br />
                            <strong>3 етап:</strong> потрібно думати.</p>
                        <p>Для подальшого <strong>масштабування проекту на інші країни</strong> суми можуть скласти (для кожної країни) від 10 млн. $ США.</p>
                    </div>
                </div>
            </section>
        </div>

        <div class=contact-link-wrapper>
            <button data-micromodal-trigger="investor-modal" class="button primary contact-button">Станьте інвестором проекту</button>
        </div>

        <div class="info-text faq-block presentation">
            <h2>Презентація проекту</h2>
            <div class="info-text">
                <div data-block="sliders-about">
                    <div id="sliders-presentation" class="sliders-list">
                        <div class="about-slider">
                            <div class="swiper" id="sliders-presentation">
                                <div class="swiper-wrapper">
                                    {% for i in 0..25 %}
                                        <div class="swiper-slide">
                                                <img
                                                    src="{{ asset('/presentation/presentation_uk_' ~ "%02d"|format(i) ~ '.webp') }}"
                                                    alt="Презентація проекту Я і Здоров&rsquo;я"
                                                    loading="lazy"
                                                >
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>
                    <div class="download-links">
                        <a class="line-active" href="{{ absolute_url(asset('/presentation/presentation_uk.pdf')) }}" title="Завантажити презентацію в PDF" target="_blank">
                            Завантажити PDF презентацію українською мовою
                        </a>
                        <a class="line-active" href="{{ absolute_url(asset('/presentation/presentation_ru.pdf')) }}" title="Скачать PDF презентацию на русском языке" target="_blank">
                            Скачать PDF презентацию на русском языке
                        </a>
                        <a class="line-active" href="{{ absolute_url(asset('/presentation/presentation_en.pdf')) }}" title="Download PDF presentation in english" target="_blank">
                            Download PDF presentation in english
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-text faq-block mind-map">
            <h3><strong>Мапа думок (MindMap)</strong></h3>
            <a href="{{ asset('/img/static/mindmap.png') }}" title="MICTO.UA Мапа думок (MindMap)" target="_blank">
                {% if is_mobile() %}
                    <img src="{{ asset('/img/static/mindmap_min-mob.webp') }}" loading="lazy" alt="Мапа думок (MindMap)" />
                {% else %}
                    <img src="{{ asset('/img/static/mindmap_min.webp') }}" loading="lazy" alt="Мапа думок (MindMap)" />
                {% endif %}
            </a>
            <a href="{{ asset('/img/static/mindmap.png') }}" title="MICTO.UA Мапа думок (MindMap)" target="_blank" download>
                Завантажити мапу думок (PNG, 6.7Mb)
            </a>
        </div>

        <div class="faq-block questions">
            <h2>&quot;Я і Здоров&rsquo;я!&quot;</h2>
            <ul class="list-style-visible">
                <li>Навіщо потрібен проект (у чому його новизна)?</li>
                <li>Кому потрібен проект?</li>
                <li>Які проблеми вирішить проект?</li>
                <li>Яким способом проект вирішить проблеми?</li>
                <li>Які вигоди отримають користувачі проекту?</li>
                <li>Як проект буде заробляти?</li>
                <li>Етапи реалізації проекту?</li>
                <li>Скільки грошей потрібно, щоб реалізувати проект?</li>
            </ul>
        </div>
        
        <div class="info-text organizations faq-block">
            <h3><strong>Організації в галузі медицини:</strong></h3>
            <div class="organizations-list">
                <div class="organization-block">
                    <strong>1. Всесвітня Організація Охорони Здоров&rsquo;я</strong><br />
                    World Health Organization<br />
                    <em>https://www.who.int/ru/</em>
                </div>
                <div class="organization-block">
                    <strong>2. Інститут вимірювання і оцінки показників здоров&rsquo;я</strong><br />
                    Institute for Health Metrics and Evaluation<br />
                    <em>http://www.healthdata.org/</em>
                </div>
                <div class="organization-block">
                    <strong>3. Стартапи в області ЗДОРОВ&rsquo;Я</strong><br />
                    <em>https://www.startuphealth.com/</em>
                </div>
                <div class="organization-block">
                    <strong>4. Перший венчурний фонд, присвячений IT в області здоров&rsquo;я</strong><br />
                    The first venture fund dedicated to digital health<br />
                    <em>https://rockhealth.com/</em>
                </div>
                <div class="organization-block">
                    <strong>5. The Nuffield Trust</strong> (Нюфілд Траст)<br />
                    Nuffield Trust є незалежною благодійною організацією охорони здоров&rsquo;я. Ми прагнемо поліпшити якість медичної допомоги в Великобританії, надаючи дослідження, засновані на фактичних даних, а також формуючи політику інформування та дискусії.<br />
                    <em>https://www.nuffieldtrust.org.uk/about</em>
                </div>
                <div class="organization-block">
                    <strong>6. Проникливе охоплення технологій охорони здоров&rsquo;я</strong><br />
                    <em>https://hitconsultant.net/</em>
                </div>
                <div class="organization-block">
                    <strong>7. HIMSS</strong><br />
                    HIMSS є глобальною некомерційною організацією, орієнтованою на поліпшенні здоров&rsquo;я за допомогою інформаційних технологій (IT). HIMSS веде роботу по оптимізації зобов&rsquo;язань в області здоров&rsquo;я і якості послуг з використанням інформаційних технологій.<br />
                    <em>https://www.himss.org/</em>
                </div>
                <div class="organization-block">
                    <strong>8. MedCity News</strong><br />
                    MedCityNews є провідним інтернет джерелом новин для бізнес-інновацій в сфері охорони здоров&rsquo;я. Вони пропонують розуміння того, що буде далі, і що важливо в світлі останніх новин і аналізу стартапів від визнаних лідерів галузі. Особистості, політики і найбільш важливі угоди.<br />
                    <em>https://medcitynews.com/</em>
                </div>
                <div class="organization-block">
                    <strong>9. Digital Health</strong><br />
                    Digital Health пропонує незалежні новини про бізнес, політику та технології, дослідження та події, орієнтовані на розвиток ІТ в галузі охорони здоров’я в галузі охорони здоров’я та охорони здоров’я Великобританії.
                    <em>https://www.digitalhealth.net/</em>
                </div>
                <div class="organization-block">
                    <strong>10. DigiHealth Helper</strong><br />
                    Міні-ініціатива, розроблена для забезпечення медичних керівників, медичних працівників, новаторів, підприємців та інших людей актуальною і корисною інформацією про цифрові ресурси охорони здоров&rsquo;я через Twitter<br />
                    <em>http://digitalhealthmaven.com/digihealth_helper/</em>
                </div>
                <div class="organization-block">
                    <strong>11. Validic</strong><br />
                    Спрощуючи дані здоров&rsquo;я - платформа Validic і мобільні рішення дозволяють витягати і аналізувати значущі висновки для населення.<br />
                    <em>https://validic.com/</em>
                </div>
                <div class="organization-block">
                    <strong>12. Omada Health</strong><br />
                    Ми допомагаємо роботодавцям і організаціям, що планують вирішувати питання в області охорони здоров&rsquo;я, пов&rsquo;язані з хронічними захворюваннями найбільш привабливим, ефективним і масштабованим способом.<br />
                    <em>https://www.omadahealth.com/</em>
                </div>
                <div class="organization-block">
                    <strong>13. FierceHealthIT</strong><br />
                    Інформаційний портал новин<br />
                    <em>https://www.fiercehealthcare.com/</em>
                </div>
                <div class="organization-block">
                    <strong>14. HEALTH 2.0</strong><br />
                    &quot;Здоров&rsquo;я 2.0&quot; генерує, презентує і каталізує нові технології в охороні здоров&rsquo;я. Завдяки всесвітній серії конференцій, код-A-Thons, і призовим змагань, ми об&rsquo;єднуємо кращі уми, ресурси і технології для виконання невідкладних завдань, дискусій і демонстрації продуктів та багато чого іншого.<br />
                    <em>https://health2con.com/</em>
                </div>
                <div class="organization-block">
                    <strong>15. Helsi.me</strong><br />
                    Електронна медична система.<br />
                    <em>https://helsi.me/</em>
                </div>
            </div>

            <div class="info-text faq-block technologies">
                <h3><strong>Технології та інновації в галузі медицини:</strong></h3>
                <ol>
                    <li>An electronic health record (EHR), or electronic medical record (EMR)<br />
                        <em>https://en.wikipedia.org/?curid=1129641</em>
                    </li>
                    <li>IoT - Internet of Things<br />
                        <em>https://en.wikipedia.org/?curid=12057519</em>
                    </li>
                    <li>Global Health Observatory (GHO)<br />
                        <em>https://en.wikipedia.org/?curid=43211084</em>
                    </li>
                </ol>
            </div>

            <div class="info-text faq-block technologies">
                <h3><strong>План:</strong></h3>
                <ol>
                    <li>Історія виникнення ідеї проекту</li>
                    <li>Місія</li>
                    <li>Концепція</li>
                    <li>Проект має на меті</li>
                    <li>Проблеми, шляхи вирішення, вигоди для окремих суб&rsquo;єктів проекту</li>
                    <li>Новизна проекту (порівняння з подібними ресурсами)</li>
                    <li>Етапи проекту</li>
                    <li>Структура проекту</li>
                    <li>Користувачі проекту</li>
                    <li>Клієнти проекту</li>
                    <li>Монетизація</li>
                    <li>Етапи фінансування проекту</li>
                    <li>Тактика</li>
                    <li>Стратегія</li>
                    <li>Питання інвесторів і відповіді на них (в т.ч. фінансування, обсяги і етапи)</li>
                </ol>
            </div>

            <div class="col-2 ">
                <div class="info-text col">
                    <h3><strong>Історія виникнення ідеї проекту</strong></h3>
                    <p>…мені наснився сон. У ньому я захотів жити 350 років. Я прокинувся і почав аналізувати цю інформацію.</p>
                    <p>Мій висновок - це неможливо при існуючому порядку речей в області здоров&rsquo;я.</p>
                    <p>Я подумав: &quot;А що Я особисто можу поліпшити в цій області, що б закласти можливість здорового життя протягом 350 років?&quot;</p>
                    <p>З цього питання і виникла ідея створення проекту &quot;Я і Здоров&rsquo;я&quot;.</p>
                    <p>Звичайно, у мене в житті було безліч контактів з цією сферою: і коли я був зовсім малий, і в підлітковим періоді, коли у мене були думки про те, ким мені стати (були думки стати лікарем), і в армії, і на навчанні, і коли у мене з&rsquo;явилася сім&rsquo;я, а особливо, коли з&rsquo;явилися діти і співробітники)).</p>
                    <p>Мій досвід особистої взаємодії в області здоров&rsquo;я, а також досвід моїх рідних, близьких і співробітників став важливою точкою опори для створення цього проекту в цілому. Я почав шукати і формувати точки входу і &quot;золотий цвях&quot;.</p>
                    <p>Я його знайшов. &quot;Золотим цвяхом&quot; проекту став рейтинг довіри до суб&rsquo;єктів і об&rsquo;єктів в сфері здоров&rsquo;я.</p>
                </div>
            </div>

            <div class="col-2 ">
                <div class="info-text col">
                    <h3><strong>Місія</strong></h3>
                    <p>Я хочу створити цілісний і живий онлайн організм в системі відносин &quot;Я і Здоров&rsquo;я&quot; в усьому світі.</p>
                </div>
            </div>

            <div class="col-2 ">
                <div class="info-text col">
                    <h3><strong>Концепція</strong></h3>
                    <p>Я приймаю за основу бажання більшості людей бути здоровими.</p>
                    <p>&quot;Здоров&rsquo;я - це стан повного фізичного, душевного і соціального благополуччя, а не тільки відсутність хвороб і фізичних дефектів&quot;. За визначенням ВООЗ (Всесвітньої Організації Охорони здоров&rsquo;я).</p>
                    <p>У проекті &quot;Я і Здоров&rsquo;я&quot; ми об&rsquo;єднаємо людські і технічні ресурси, використовуючи інновації в комунікаціях в сфері онлайн та офлайн.</p>
                    <p>На даний момент я не знайшов на світовому ринку жодного онлайн ресурсу, який би охоплював всі сфери здоров&rsquo;я (або більшість з них), знижував фінансові та комунікаційні бар&rsquo;єри, підвищував рівень довіри між суб&rsquo;єктами відносин (я, лікар, клініка, фармацевти, виробники і ін.).</p>
                    <p>В даному проекті я планую об&rsquo;єднати державні та приватні ресурси.</p>
                </div>
            </div>

            <div class="col-2 ">
                <div class="info-text col">
                    <h3><strong>Проект має на меті</strong></h3>
                    <p>Я хочу, щоб люди і їх домашні тварини були здоровими.</p>
                    <p>Я хочу створити інструмент, який дозволить превентивно впливати на здоров&rsquo;я людини, з метою поліпшення якісних і кількісних показників життя, наприклад, збільшити термін життя, зменшити частоту хвороб і вартість перебігу хвороби ...</p>
                    <p>Я хочу, щоб кожна людина на Землі змогла безпечно, швидко, якісно, доступно за ціною і місцем розташування, без всілякої дискримінації отримати в повному обсязі інформацію, послуги та товари в області здоров&rsquo;я.</p>
                    <p>Я хочу зробити прозорим ринок медичних послуг і товарів в сфері здоров&rsquo;я для формування чесних і демократичних відносин між суб&rsquo;єктами цього ринку (людина - лікар).</p>
                </div>
            </div>

            <div class="col-2 ">
                <div class="info-text col">
                    <h3><strong>Проблеми і способи їх вирішення, вигоди для окремих суб&rsquo;єктів проекту</strong></h3>
                    <p>Далі будуть надані списки проблем, що виникають у різних суб’єктів в області здоров’я. Пріоритетність проблем для різних країн може змінюватися.</p>
                    <p>Далі Ви побачите наступні позначки:<br>| +++ | - проект повністю вирішує дану проблему (100%);<br>| ++ | - проект вирішує дану проблему на досить високому рівні (більше 50%);<br>| + | - проект частково вирішує дану проблему (менше 50%).</p>
                </div>
            </div>


            <div class="col-2 ">
                <div class="info-text col">
                    <h3><strong>Проблеми користувача-пацієнта-клієнта:</strong></h3>
                    <ul class="list-style-visible">
                        <li>відсутність довіри | ++ |;</li>
                        <li>відсутність єдиної онлайн реєстратури | +++ |;</li>
                        <li>відсутність вибору | ++ |;</li>
                        <li>завищена вартість на послуги (товари) | + |;</li>
                        <li>недоступність послуг (товарів, медикаментів) | ++ |;</li>
                        <li>недоступність інформації | +++ |;</li>
                        <li>відсутність телемедицини в рівному доступі | ++ |;</li>
                        <li>відсутність достатнього контролю за якістю товарів (послуг) | ++ |;</li>
                        <li>відсутність медичної картки в електронному вигляді | +++ |;</li>
                        <li>неадекватні лікарі | + |.</li>
                    </ul>
                </div>
            </div>

            <div class="col-2 ">
                <div class="info-text col">
                    <h3><strong>Проблеми лікаря (фахівця):</strong></h3>
                    <ul class="list-style-visible">
                        <li>відсутність єдиної онлайн реєстратури | +++ |;</li>
                        <li>неможливість ефективного завантаження робочого дня | ++ |;</li>
                        <li>низька заробітна плата | + |;</li>
                        <li>відсутність якісного обладнання (медикаментів) | + |;</li>
                        <li>погані умови роботи | + |;</li>
                        <li>відсутність актуальної інформації | +++ |;</li>
                        <li>неадекватні клієнти | + |;</li>
                        <li>відсутність страховки у пацієнтів (клієнтів) | + |.</li>
                    </ul>
                </div>
            </div>

            <div class="col-2 ">
                <div class="info-text col">
                    <h3><strong>Проблеми медичних центрів (клінік, лікарень):</strong></h3>
                    <ul class="list-style-visible">
                        <li>відсутність онлайн реєстратури | +++ |;</li>
                        <li>нестача кваліфікованого персоналу | + |;</li>
                        <li>неможливість ефективного завантаження робочого дня всіх співробітників | ++ |;</li>
                        <li>низька заробітна плата співробітників | + |;</li>
                        <li>відсутність якісного обладнання (медикаментів) | + |;</li>
                        <li>відсутність актуальної інформації | +++ |;</li>
                        <li>неадекватні клієнти і лікарі | + |;</li>
                        <li>відсутність страховки у пацієнтів (клієнтів) | + |.</li>
                    </ul>
                </div>
            </div>

            <div class="col-2 ">
                <div class="info-text col">
                    <h3><strong>Проблеми вчених, інститутів, виробників:</strong></h3>
                    <ul class="list-style-visible">
                        <li>бюрократія | ++ |;</li>
                        <li>відсутність актуальної правдивої статистики | +++ |;</li>
                        <li>непрозорість системи охорони здоров&rsquo;я | ++ |;</li>
                        <li>дезорганізація органів управління охороною здоров&rsquo;я | + |;</li>
                        <li>відсутність якісного обладнання (медикаментів) | + |;</li>
                        <li>відсутність актуальної інформації | +++ |;</li>
                        <li>фінансові та комунікаційні бар&rsquo;єри | + |;</li>
                        <li>відсутність довіри між суб&rsquo;єктами відносин | ++ |;</li>
                        <li>&quot;вимивання&quot; кадрів | + |.</li>
                    </ul>
                </div>
            </div>

            <div class="col-2 ">
                <div class="info-text col">
                    <h3><strong>Проблеми країни:</strong></h3>
                    <ul class="list-style-visible">
                        <li>бюрократія | ++ |;</li>
                        <li>корупція | + |;</li>
                        <li>&quot;вимивання&quot; кадрів | + |;</li>
                        <li>непрозорість системи охорони здоров&rsquo;я | ++ |;</li>
                        <li>дезорганізація органів управління охороною здоров&rsquo;я | + |;</li>
                        <li>відсутність актуальної правдивої статистики | +++ |;</li>
                        <li>неефективне управління ризиками в галузі охорони здоров&rsquo;я | + |;</li>
                        <li>неефективна страхова медицина | + |;</li>
                        <li>тіньова економіка (несплата податків) | + |;</li>
                        <li>низька інноваційна складова в сфері медицини і здоров&rsquo;я | ++ |;</li>
                        <li>відсутність єдиних каталогів інформації | +++ |;</li>
                        <li>фінансові та комунікаційні бар&rsquo;єри | + |;</li>
                        <li>відсутність довіри між суб&rsquo;єктами відносин | ++ |.</li>
                    </ul>
                </div>
            </div>

            <div class="col-2  solutions">
                <div class="info-text col">
                    <h3><strong>Проект &quot;Я і Здоров&rsquo;я&quot; вирішує проблеми наступними способами:</strong></h3>
                    <ul class="list-style-visible">
                        <li>введення інструменту управління довірою, через створення системи оцінок у вигляді рейтингу <strong>&quot;Живий Рейтинг Довіри&quot; та &quot;Індекс Здоров&rsquo;я&quot;</strong>;</li>
                        <li><strong>онлайн медична картка</strong> із захистом персональних даних (хмарний сервіс з можливістю впровадження технології криптографічного захисту персональних даних Блокчейн);</li>
                        <li><strong>віртуальна реєстратура</strong> (хмарний сервіс);</li>
                        <li><strong>захист</strong> персональних даних інших суб&rsquo;єктів;</li>
                        <li><strong>різні системи доступу</strong> до персональних даних <strong>для окремих учасників проекту</strong>;</li>
                        <li><strong>контроль за станом здоров&rsquo;я</strong> за допомогою спеціальних пристроїв (Samsung, Reebok і ін.);</li>
                        <li><strong>швидка допомога</strong> (з можливістю сканування біометричних даних і на їх основі отримати миттєвий прямий доступ до онлайн медичних даних пацієнта, через персональний ключ лікаря швидкої допомоги для <strong>порятунку життя</strong>); </li>
                        <li><strong>телемедицина</strong> (використовуючи всі телекомунікаційні можливості);</li>
                        <li>внутрішня <strong>соціальна мережа + месенджер</strong> для всіх учасників проекту (особисті кабінети для різних видів учасників будуть відрізнятися);</li>
                        <li>двосторонній <strong>експертний контроль</strong> доступності, чесності, актуальності, якості, вартості (з боку споживачів, виробників товарів і послуг);</li>
                        <li><strong>онлайн</strong> доступ до необхідної інформації на <strong>різних мовах</strong>;</li>
                        <li><strong>каталоги</strong> інформації, що <strong>перетинаються</strong> (пов&rsquo;язані між собою);</li>
                        <li><strong>статистика</strong>, взята із зовнішніх джерел, а також зібрана всередині проекту;</li>
                        <li>гнучке налаштування <strong>таргетингу</strong> (геолокація);</li>
                        <li><strong>гнучкий пошук</strong>(фільтри - фасетна навігація) всередині ресурсу;</li>
                        <li><strong>система відгуків, пропозицій, рекомендацій</strong> (корисні відгуки / пропозиції / рекомендації будуть підвищувати учаснику &quot;Живий Рейтинг Довіри&quot;);</li>
                        <li><strong>автоматизація</strong> процесів в області e-commerce;</li>
                        <li><strong>колл-центр</strong> (платна і безкоштовна консультація);</li>
                        <li><strong>створення індикативних цін</strong> на медичні товари та послуги;</li>
                        <li><strong>сумлінна реклама</strong> (настройки відображення контекстної реклами, банерної реклами, ремаркетинг).</li>
                    </ul>
                </div>
            </div>

            <div class="col-2 ">
                <div class="info-text col">
                    <h3><strong>Вигоди</strong> суб&rsquo;єктам ринку від реалізації проекту &quot;Я і Здоров&rsquo;я&quot;:</strong></h3>
                    <ul class="list-style-visible">
                        <li>Збільшення соціальних і бізнес можливостей.</li>
                        <li>Збільшення прозорості (процедур, комунікацій, замовлень).</li>
                        <li>Справедливість формування цін на послуги.</li>
                        <li>Збільшення довіри до суб&rsquo;єктів і об&rsquo;єктів ринку.</li>
                        <li>Економія ресурсів.</li>
                        <li>Створення та впровадження інновацій.</li>
                        <li>Підвищення інформованості (боротьба зі стереотипами в області здоров&rsquo;я).</li>
                        <li>Спрощення або повна ліквідація бюрократичних процедур.</li>
                    </ul>
                </div>
            </div>

            <h2 class="new-features">Новизна проекту</h2>

            <div class="col-2 ">
                <div class="info-text col">
                    <h3>Об&rsquo;єднання розрізнених учасників ринку &quot;Я і Здоров&rsquo;я&quot; (приватні, державні і комунальні форми власності) таких як:</h3>
                    <ul class="list-style-visible">
                        <li>пацієнт (клієнт);</li>
                        <li>лікар (спеціаліст);</li>
                        <li>клініки і лікарні;</li>
                        <li>аптеки;</li>
                        <li>інститути і наукові центри;</li>
                        <li>навчальні заклади;</li>
                        <li>лабораторії;</li>
                        <li>міністерства охорони здоров&rsquo;я;</li>
                        <li>фармацевтичні компанії;</li>
                        <li>туристичні компанії;</li>
                        <li>виробники обладнання;</li>
                        <li>страхові компанії;</li>
                        <li>банки (ін. фінансові установи);</li>
                        <li>онлайн проекти (платіжні системи, системи доставки і ін. проекти, що синхронізують інформацію через API);</li>
                        <li>та ін.</li>
                    </ul>
                </div>
            </div>

            <div class="col-2 ">
                <div class="info-text col">
                    <h3>Відкритий доступ до новітніх наукових розробок</h3>
                    <p>Проект дасть можливість проводити дослідження більш ефективно. Пацієнти зможуть знаходити актуальні наукові проекти (дослідження), спрямовані на лікування їхніх хвороб (симптомів) і дозволити випробовувати нові препарати, обладнання, методи лікування на собі.</p>
                    <p>Подібним чином наукові проекти (співробітники) зможуть знаходити охочих взяти участь у випробуваннях.</p>
                </div>
            </div>

            <div class="col-2 ">
                <div class="info-text col">
                    <h3>Об&rsquo;єднання, структурування і уніфікація інформації в рамках одного проекту:</h3>
                    <ul class="list-style-visible">
                        <li>каталог ліків (БАДів і ін.);</li>
                        <li>каталог діагнозів (симптомів);</li>
                        <li>каталог способів лікування;</li>
                        <li>каталог послуг;</li>
                        <li>каталог обладнання;</li>
                        <li>каталог інвентарю, одягу, взуття;</li>
                        <li>каталог фахівців (лікарів);</li>
                        <li>каталог підприємств;</li>
                        <li>каталог статей.</li>
                    </ul>
                </div>
            </div>

            <div class="col-2 ">
                <div class="info-text col">
                    <h3>Критерії оцінок (приклад):</h3>
                    <ul class="list-style-visible">
                        <li>рівень освіти (наявність дипломів, сертифікатів, ліцензій та ін.);</li>
                        <li>наявність звань, нагород, наукових ступені та ін .;</li>
                        <li>безперервний підтверджений стаж;</li>
                        <li>думка людей (голосування), які пройшли перевірку і зареєстрованих в системі;</li>
                        <li>думка експертів, як з боку споживачів, так і з боку виробників товарів і послуг;</li>
                        <li>популярність (клієнти, замовлення, прибуток);</li>
                        <li>активну участь в житті проекту (контент, діяльність);</li>
                        <li>наукова діяльність, спрямована на розвиток проекту і ринку;</li>
                        <li>чесність при дотриманні правил проекту;</li>
                        <li>сертифікати якості;</li>
                        <li>та ін.</li>
                    </ul>

                    <p>Критерії оцінки формують статистичну вибірку. Дані статистичної вибірки використовуються для аналізу. У формуванні рейтингу братимуть участь тільки суб’єкти та об’єкти, що пройшли аутентифікацію (перевірку ідентичності).</p>
                </div>
            </div>

            <div class="col-2 ">
                <div class="info-text col">
                    <h3>Хто братиме участь у рейтингу? Хто ці суб&rsquo;єкти та об&rsquo;єкти?</h3>
                    <ul class="list-style-visible">
                        <li>лікарі;</li>
                        <li>пацієнти / клієнти;</li>
                        <li>компанії (організації, підприємства);</li>
                        <li>товари / послуги;</li>
                        <li>методи лікування;</li>
                        <li>та ін.</li>
                    </ul>
                </div>
            </div>

            <div class="col-2 ">
                <div class="info-text col">
                    <h3>"Живий Рейтинг Довіри" та "Індекс Здоров’я"</h3>
                    <p>Я пропоную створити прозорі правила ринку "Здоров’я".</p>
                    <p>Ринок "Здоров’я" - це відносини між С2С, В2С, В2В2С, G2B2C і результати їх діяльності пов’язані з темою Здоров’я.</p>
                    <p>Ринок - сукупність процесів і процедур, які забезпечують обмін між покупцями (споживачами) і продавцями (постачальниками) окремих товарів і послуг.</p>
                    <p>Життя - активна форма існування матерії. Основний атрибут живої матерії - інформація, яка використовується для реплікації.</p>
                    <p>Реплікація (від лат. Replicatio - відновлення) - процес створення двох дочірніх молекул ДНК на основі батьківської молекули ДНК.</p>
                    <p>Довіра в соціології і психології - відкриті, позитивні взаємини між людьми, що містять впевненість у порядності й доброзичливості іншої людини, з яким довіряючий знаходиться в тих чи інших відносинах. Довіра вважається основою всіх соціальних інститутів. Довіра залежить від ступеня дотримання обумовлених правил, а також від уміння правильно діяти, досягаючи визначеної мети для суб’єктів, навіть у випадках, коли деякі правила не обумовлені.</p>
                    <p>Довіра може мати фінансовий або особистий характер. Фінансово довіра може виражатися в позичання коштів або покладенні повноважень з управління майном. Ознакою особистої довіри служить відвертість, готовність ділитися інтимної, секретною інформацією.</p>
                    <p>Рейтинг (англ. Rating) - числовий або порядковий показник, що відображає важливість або значимість певного суб’єкта, об’єкта чи явища.</p>
                    <p>Індекс (лат. Index - список, реєстр, покажчик, а також вказівний палець) - число, буква або інша комбінація символів, яка вказує місце елемента в сукупності або характеризує стан деякої системи, наприклад показник активності, продуктивності, розвитку, "хворобливості", зміни чого-небудь.</p>
                    <p>Як один з варіантів створення прозорих правил ринку "Здоров’я" - це формування "Індекс Здоров’я".</p>
                    <p>Індекси потрібні для розуміння загальної кон’юнктури / температури ринку: якась "середня" ціна товару, послуги, валюти або кількість хворих в даний час на певній території в співвідношенні з здоровими людьми і з іншими територіями.</p>
                    <p>Індекс буде використовувати дані рейтингу "Живий Рейтинг Довіри" і формувати об’єднаний результат, через відкриту формулу (як якась середня температура по палаті, як знаменитий американський ринковий "промисловий" індекс Доу - Джонса по 30 найбільшим підприємствам Америки, індекс S & P 500 - фондовий індекс, в кошик якого включено 500 обраних торгованих на фондових біржах США публічних компаній, що мають найбільшу капіталізацію; можливо, і інші індекси: деякий список кращих лікарів / лікарень / ліків / методів лікування / результативності роботи ...).</p>
                    <p>Формула - від лат. Formula, тобто форма, образ, вид, правило, розпорядження.</p>
                    <p>Формула - в математиці, а також фізиці та прикладних науках, символічний запис висловлювання (яке виражає логічне судження), або форми висловлювання. Формула є різновидом вираження формалізованої мови. У більш широкому сенсі формула - будь-який суто символьний запис.</p>
                    <p>Рейтинг, як результат буде формуватися на підставі підтверджених даних. Дані для рейтингу використовуються на підставі певних критеріїв оцінок суб’єктів і об’єктів, виведених в числа, з урахуванням закладених нами коефіцієнтів. Ці дані будуть частиною відкритих формул.</p>
                    <p>Критерій (грец. Κριτήριον - здатність розрізнення, засіб судження, мірило) - ознака, підстава, правило прийняття рішення щодо оцінки чого-небудь на відповідність висунутим вимогам (мірі).</p>
                </div>
            </div>

            <div class="col-2 ">
                <div class="info-text col">
                    <h3>Експертний контроль</h3>
                    <p>Експертний контроль здійснюватиме група експертів. У кожному з напрямків діяльності проекту працюватимуть дві експертні групи.</p>
                    <p>Перша експертна група (A) формується з професіоналів виробників товарів і / або послуг.</p>
                    <p>Друга експертна група (B) формується з професійних і компетентних споживачів товарів і / або послуг.</p>
                    <p>Експерт - це відкрита виборна посада в рамках одного з напрямків діяльності. Експерт може представляти інтереси тільки виробників або тільки споживачів.</p>
                </div>
            </div>

            <div class="col-2 ">
                <div class="info-text col">
                    <h3>Що експерти будуть робити</h3>
                    <ul class="list-style-visible">
                        <li>оцінювати;</li>
                        <li>контролювати правдивість і актуальність інформації, що розміщується в проекті;</li>
                        <li>додавати актуальні дані з метою інформування інших учасників проекту (статті, новини, огляди);</li>
                        <li>приймати рішення в ролі третейських суддів у разі виникнення спорів (конфліктів).</li>
                    </ul>
                </div>
            </div>

            <div class="col-2 ">
                <div class="info-text col">
                    <h3>Хто може стати експертом проекту групи А</h3>
                    <ul class="list-style-visible">
                        <li>провідні вчені;</li>
                        <li>досвідчені практикуючі лікарі та фахівці;</li>
                        <li>викладачі провідних ВНЗ;</li>
                        <li>топ-менеджери провідних компаній в області медицини і здоров&rsquo;я;</li>
                        <li>юристи (фахівці з медичного права);</li>
                        <li>психологи;</li>
                        <li>представники проекту &quot;Я і Здоров&rsquo;я&quot;.</li>
                    </ul>
                </div>
            </div>

            <div class="col-2 ">
                <div class="info-text col">
                    <h3>Хто може стати експертом проекту групи В</h3>
                    <ul class="list-style-visible">
                        <li>досвідчені користувачі, яких вибрали шляхом голосування.</li>
                    </ul>
                </div>
            </div>

            <div class="col-2 ">
                <div class="info-text col">
                    <h3>Свобода вибору, переміщення, законодавчої системи (держави) для:</h3>
                    
                    <p><strong>Свобода</strong> - це природне право людини в рамках створених умов.</p>

                    <br>

                    <p><strong>Користувач (пацієнт / клієнт) в проекті зможе вибрати лікаря (послугу) виходячи з наступних критеріїв підбору:</strong></p>

                    <ul class="list-style-visible">
                        <li>місце знаходження;</li>
                        <li>спеціалізація лікаря;</li>
                        <li>досвід (вік) лікаря;</li>
                        <li>кваліфікація лікаря (освіта, сертифікати, дипломи);</li>
                        <li>мова, якою говорить лікар;</li>
                        <li>вартість послуг;</li>
                        <li>вік користувача;</li>
                        <li>місця / балів у рейтингу &quot;Живий Рейтинг Довіри&quot;.</li>
                    </ul>

                    <br>

                    <p><strong>Користувач (пацієнт / клієнт) в проекті зможе вибрати товар (послугу) виходячи з наступних критеріїв підбору:</strong></p>

                    <ul class="list-style-visible">
                        <li>місце знаходження;</li>
                        <li>ціна;</li>
                        <li>якість (наявність сертифікатів);</li>
                        <li>умови гарантії;</li>
                        <li>рекомендації (відгуки) учасників проекту;</li>
                        <li>місця / балів у рейтингу &quot;Живий Рейтинг Довіри&quot;.</li>
                    </ul>

                    <br>

                    <p><strong>Спеціаліст (лікар) в проекті зможе вибрати клієнта (пацієнта) виходячи з наступних критеріїв підбору:</strong></p>

                    <ul class="list-style-visible">
                        <li>симптоми і показання;</li>
                        <li>наявність страховки;</li>
                        <li>наявність електронної медичної картки;</li>
                        <li>місце знаходження;</li>
                        <li>мова, якою говорить клієнт / пацієнт;</li>
                        <li>вік клієнта / пацієнта;</li>
                        <li>рекомендації (відгуки) учасників проекту;</li>
                        <li>місця / балів у рейтингу &quot;Живий Рейтинг Довіри&quot;.</li>
                    </ul>

                    <br>

                    <p><strong>Компанія (організація) в проекті зможе вибрати клієнта (пацієнта) виходячи з наступних критеріїв підбору:</strong></p>

                    <ul class="list-style-visible">
                        <li>досвід (вік) лікаря;</li>
                        <li>положення лікаря в &quot;Живому Рейтингу Довіри&quot;;</li>
                        <li>місце знаходження;</li>
                        <li>спеціалізація лікаря;</li>
                        <li>кваліфікація лікаря (освіта, сертифікати, дипломи);</li>
                        <li>мова, якою говорить лікар.</li>
                    </ul>

                    <br>

                    <p><strong>Компанія (організація) в проекті зможе вибрати лікаря (фахівця) виходячи з наступних критеріїв підбору:</strong></p>

                    <ul class="list-style-visible">
                        <li>місце знаходження;</li>
                        <li>ціна;</li>
                        <li>якість (наявність сертифікатів);</li>
                        <li>умови гарантії;</li>
                        <li>наявність технічного обслуговування;</li>
                        <li>рекомендації (відгуки) учасників проекту;</li>
                        <li>місця / балів у рейтингу &quot;Живий Рейтинг Довіри&quot;.</li>
                    </ul>

                    <br>

                    <p><strong>Спеціаліст (лікар) в проекті зможе вибрати товар (послугу) виходячи з наступних критеріїв підбору:</strong></p>

                    <ul class="list-style-visible">
                        <li>місце знаходження;</li>
                        <li>ціна;</li>
                        <li>якість (наявність сертифікатів);</li>
                        <li>умови гарантії;</li>
                        <li>наявність технічного обслуговування;</li>
                        <li>рекомендації (відгуки) учасників проекту;</li>
                        <li>місця / балів у рейтингу &quot;Живий Рейтинг Довіри&quot;.</li>
                    </ul>
                </div>
            </div>

            
            <div class="col-2 ">
                <div class="info-text col">
                    <h3>Етапи проекту</h3>

                    <p><strong>1 етап:</strong></p>

                    <ul>
                        <li>1.1 Формування команди проекту, комунікація з державними та приватними організаціями.</li>
                        <li>1.2 Створення документації проекту: технічне завдання, статут і правила, договори і т.д.</li>
                        <li>1.3 Формування, структурування, об&rsquo;єднання каталогів (інформації).</li>
                        <li>1.4 Синхронізація даних з ресурсами, які можуть підвищити ефективність проекту через відкриті API.</li>
                        <li>1.5 Розробка особистих кабінетів для всіх учасників проекту - пацієнтів (клієнтів), лікарів (фахівців), компаній (організацій).</li>
                        <li>1.6 Формування експертних груп.</li>
                        <li>1.7 Запуск системи &quot;Живий Рейтинг Довіри&quot;.</li>
                        <li>1.8 Тестування, налагодження, модернізація.</li>
                    </ul>

                    <br>

                    <p><strong>2 етап:</strong></p>

                    <ul>
                        <li>2.1 Медіа і інтернет реклама проекту, робота на репутацію і популяризацію.</li>
                        <li>2.2 Запуск контекстної реклами всередині проекту для ВК (ймовірний клієнт).</li>
                        <li>2.3 Розширення сфер діяльності (ветеринарія).</li>
                        <li>2.4 Запуск &quot;Індекс Здоров&rsquo;я&quot;.</li>
                        <li>2.5 Тестування, налагодження, модернізація.</li>
                    </ul>

                    <br>

                    <p><strong>3 етап:</strong></p>

                    <ul>
                        <li>3.1 Масштабування проекту на інші країни</li>
                    </ul>
                </div>
            </div>
            
            <div class="col-2 ">
                <div class="info-text col">
                    <h3>Структура проекту</h3>

                    <p><strong>Приватна частина:</strong></p>

                    <ul>
                        <li>1. Особистий кабінет компанії (організації).</li>
                        <li>2. Особистий кабінет користувача.</li>
                        <li>3. Особистий кабінет лікаря.</li>
                        <li>4. Кабінет рекламодавця.</li>
                    </ul>

                    <br>

                    <p><strong>Загальнодоступна частина:</strong></p>

                    <ul>
                        <li>1. Каталог ліків (БАДів і ін.).</li>
                        <li>2. Каталог діагнозів (симптомів).</li>
                        <li>3. Каталог способів лікування.</li>
                        <li>4. Каталог послуг.</li>
                        <li>5. Каталог обладнання.</li>
                        <li>6. Каталог інвентарю, одягу, взуття.</li>
                        <li>7. Каталог фахівців (лікарів).</li>
                        <li>8. Каталог підприємств.</li>
                        <li>9. Каталог статей.</li>
                        <li>10. Соціальна мережа.</li>
                    </ul>
                </div>
            </div>
            
            <div class="col-2 ">
                <div class="info-text col">
                    <h3>Учасники проекту</h3>

                    <p><strong>Приватна частина:</strong></p>

                    <ul>
                        <li>1. Людина (пацієнт).</li>
                        <li>2. Лікар (спеціаліст).</li>
                        <li>3. Клініки і лікарні.</li>
                        <li>4. Аптеки.</li>
                        <li>5. Інститути та наукові центри.</li>
                        <li>6. Навчальні заклади.</li>
                        <li>7. Лабораторії.</li>
                        <li>8. Міністерства охорони здоров&rsquo;я.</li>
                        <li>9. Фармацевтичні компанії.</li>
                        <li>10. Туристичні компанії.</li>
                        <li>11. Виробники обладнання, одягу, взуття та ін.</li>
                        <li>12. Страхові компанії.</li>
                        <li>13. Банки (ін. фінансові установи).</li>
                    </ul>

                </div>
            </div>

            <div class="col-2  clients">
                <div class="info-text col">
                    <h3>Клієнти проекту</h3>

                    <p>Далі під клієнтами проекту я маю на увазі тих учасників, які приносять гроші проекту або соціальну рекламу у вигляді популяризації.</p>

                    <br>

                    <p><strong>Клієнт:</strong></p>

                    <ol class="clients-list">
                        <li>Користувач (пацієнт, покупець).</li>
                        <li>Лікар (спеціаліст).</li>
                        <li>Клініки і лікарні.</li>
                        <li>Аптеки.</li>
                        <li>Інститути та наукові центри.</li>
                        <li>Навчальні заклади.</li>
                        <li>Лабораторії.</li>
                        <li>Фармацевтичні компанії.</li>
                        <li>Туристичні компанії.</li>
                        <li>Виробники обладнання, одягу, взуття та ін.</li>
                        <li>Страхові компанії.</li>
                        <li>Банки (ін. Фінансові установи).</li>
                        <li>Міжнародні організації в області розвитку охорони здоров&rsquo;я.</li>
                        <li>Волонтери.</li>
                    </ol>

                </div>
            </div>

            <div class="col-2 ">
                <div class="info-text col">
                    <h3>11. Монетизація</h3>

                    <ul>
                        <li>1. Гроші від реклами.</li>
                        <li>2. Платні послуги в проекті (навчання, консультація, доступ до кабінету / до знеособленої інформації).</li>
                        <li>3. Продаж товарів / послуг (online e-commerce marketplace).</li>
                        <li>4. Страхування (угоди -% від безпечних угод, здоров&rsquo;я -% від посередницьких послуг).</li>
                        <li>5. Туризм (медичний).</li>
                    </ul>

                </div>
            </div>

            <div class="col-2 ">
                <div class="info-text">
                    <h3>12. Бізнес модель</h3>

                    <ul>
                        <li>1. В2С.</li>
                        <li>2. В2В.</li>
                        <li>3. B2B2C.</li>
                        <li>4. P2P.</li>
                        <li>5. G2B2C.</li>
                    </ul>

                </div>
            </div>

            <div class="col-2 ">
                <div class="info-text">
                    <h3>13. Потреба у фінансуванні проекту</h3>

                    <p><strong>0 етап:</strong> посівна інвестиція (Pre-seed) до 1 млн. $ США (основна сума - це витрати на заробітну плату);<br />
                        <strong>1 етап:</strong> (Seed) від 3 до 10 млн. $ США (основна сума - це витрати на заробітну плату);<br />
                        <strong>2 етап:</strong> від 10 до 100 млн. $ США (основна сума - це витрати на маркетинг і заробітну плату);<br />
                        <strong>3 етап:</strong> потрібно думати.</p>
                        <br>
                    <p>Для подальшого <strong>масштабування проекту на інші країни</strong> суми можуть скласти (для кожної країни) від 10 млн. $ США.</p>

                </div>
            </div>

        </div>

        <div class=contact-link-wrapper>
            <button data-micromodal-trigger="investor-modal" class="button primary contact-button">Станьте інвестором проекту</button>
        </div>
    </section>
{% endblock %}
