{% extends 'layout/psychologist_page.html.twig' %}

{% block body %}

    <div class="psychologist-page">
        <div class="container-banner image-container">
            <div class="content">
                <div class="link-video animate-on-scroll" data-animation="animate__fadeInLeft" data-delay="1.5s">
                    <button type="button" data-popup="video" class="open-popup">
                        Відео про мене
                        <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.7875 9.23342L2.28 0.970292C2.05227 0.830842 1.79144 0.754713 1.52445 0.749769C1.25746 0.744825 0.993989 0.811244 0.76125 0.942167C0.530728 1.07106 0.338696 1.25902 0.204904 1.48673C0.0711107 1.71445 0.000385179 1.97368 0 2.23779V18.7622C0.00173697 19.1583 0.160719 19.5376 0.441997 19.8166C0.723276 20.0956 1.10383 20.2515 1.5 20.25C1.77652 20.2499 2.04767 20.1736 2.28375 20.0297L15.7875 11.7665C16.0046 11.6342 16.184 11.4483 16.3084 11.2267C16.4329 11.0051 16.4983 10.7551 16.4983 10.5009C16.4983 10.2467 16.4329 9.99678 16.3084 9.77514C16.184 9.5535 16.0046 9.36759 15.7875 9.23529V9.23342ZM1.5 18.7444V2.24998L14.9841 10.5L1.5 18.7444Z" fill="white"/>
                        </svg>
                    </button>
                </div>

                <div class="contacts animate-on-scroll" data-animation="animate__fadeInLeft" data-delay="1.5s">
                    <span>Для запису :</span>
                    <a href="tel:+380950225384">095 022 53 84</a>
                    <span><span>Мій асистент</span> Михайло</span>
                </div>

                <div class="menu-block animate-on-scroll" data-animation="animate__fadeInRight" data-delay="1.5s">
                    <input type="checkbox" id="menu-toggle" class="menu-toggle">
                    <label for="menu-toggle" class="menu-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                    <nav class="menu">
                        <div class="content">
                            <ul>
                                <li><a href="/">ПОВЕРНУТИСЬ НА MICTO.UA</a></li>
                                <li><a href="#" data-popup="video" class="open-popup">ДИВИТИСЯ ВІДЕО</a></li>
                                <li><a href="#" data-popup="form" class="open-popup">ЗАПИСАТИСЯ</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <div class="name animate-on-scroll" data-animation="animate__fadeInRight" data-delay="1.5s">
                    <h1 class="text">
                        <span>Дмитро</span>
                        <span>Юрійович</span>
                        <span>Асмагілов</span>
                    </h1>

                    <span>Професійний психолог</span>
                </div>
            </div>
        </div>

        <div class="container container-about">
            <div class="row">
                <div class="text-block animate-on-scroll" data-animation="animate__fadeInLeft">
                    <div class="title">Будьмо знайомі</div>
                    <div class="img-block" style="display: none">
                        <img src="{{ asset('img/psychologist/1_IMG_0372.png') }}" alt="Будьмо знайомі" loading="lazy">
                    </div>
                    <div class="text">
                        <div>Я, Дмитро Юрійович Асмагілов - <span>психолог</span>, філософ, езотерик, коуч, військовий та ІТ підприємець.</div>
                        <div>Мені 49 років, маю багатодітну сімʼю та <span>відносини з однією жінкою з 17 років</span>.</div>
                        <div>Акцент моєї діяльності — <span>психологія правди</span>.</div>
                        <div>ВЕЛИЧЕЗНОЮ помилкою сучасної людини є думка, що "правда в кожного своя".</div>
                        <div><span>Це фуфло.</span></div>
                        <div>Той, хто так думає — НЕ бачить і не розуміє, що таке правда.</div>
                        <div>Це є головною <span>причиною</span> наших життєвих незгод.</div>
                        <div><span>Я покажу</span> Вам правду. Бо <span>знаю</span>, що кожен із нас здатен її бачити в кожну секунду життя.</div>
                    </div>
                </div>
                <div class="img-block animate-on-scroll" data-animation="animate__fadeInRight">
                    <img src="{{ asset('img/psychologist/1_IMG_0372.png') }}" alt="Будьмо знайомі" loading="lazy">
                </div>
            </div>
        </div>

        <div class="container left container-work">
            <div class="row">
                <div class="img-block animate-on-scroll" data-animation="animate__fadeInLeft">
                    <img src="{{ asset('img/psychologist/2_Frame_353.png') }}" alt="Я працюю з" loading="lazy">
                </div>
                <div class="text-block animate-on-scroll" data-animation="animate__fadeInRight">
                    <div class="title">Я працюю з</div>
                    <div class="img-block" style="display: none">
                        <img src="{{ asset('img/psychologist/2_Frame_353.png') }}" alt="Я працюю з" loading="lazy">
                    </div>
                    <div class="text">
                        <ul>
                            <li>Практична психологія</li>
                            <li>Бізнес психологія (виробнича психологія)</li>
                            <li>Пошук і прийняття себе, своїх талантів</li>
                            <li>Відносини з Богом (релігійна психологія)</li>
                            <li>Диференціальна психологія</li>
                            <li>ПСИХОЛОГІЯ ПРАВДИ</li>
                        </ul>
                    </div>
                    <div class="link link-video">
                        <button type="button" data-popup="video" class="open-popup">
                            Відео про мене
                            <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.7875 9.23342L2.28 0.970292C2.05227 0.830842 1.79144 0.754713 1.52445 0.749769C1.25746 0.744825 0.993989 0.811244 0.76125 0.942167C0.530728 1.07106 0.338696 1.25902 0.204904 1.48673C0.0711107 1.71445 0.000385179 1.97368 0 2.23779V18.7622C0.00173697 19.1583 0.160719 19.5376 0.441997 19.8166C0.723276 20.0956 1.10383 20.2515 1.5 20.25C1.77652 20.2499 2.04767 20.1736 2.28375 20.0297L15.7875 11.7665C16.0046 11.6342 16.184 11.4483 16.3084 11.2267C16.4329 11.0051 16.4983 10.7551 16.4983 10.5009C16.4983 10.2467 16.4329 9.99678 16.3084 9.77514C16.184 9.5535 16.0046 9.36759 15.7875 9.23529V9.23342ZM1.5 18.7444V2.24998L14.9841 10.5L1.5 18.7444Z" fill="white"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container container-nowork">
            <div class="row">
                <div class="text-block animate-on-scroll" data-animation="animate__fadeInLeft">
                    <div class="title">НЕ ПРАЦЮЮ З</div>
                    <div class="img-block" style="display: none">
                        <img src="{{ asset('img/psychologist/3_Frame_392.png') }}" alt="НЕ ПРАЦЮЮ З" loading="lazy">
                    </div>
                    <div class="text">
                        <ul>
                            <li>Дитяча/юнацька психологія</li>
                            <li>Геронтопсихологія (психологія старості)</li>
                            <li>Сімейна психологія</li>
                            <li>Психологія сексу (сексологія)</li>
                            <li>Юридична, історична психологія та подібні</li>
                        </ul>
                        <div>Я не маю достатньої компетенції в цих напрямках.</div>
                    </div>
                </div>
                <div class="img-block animate-on-scroll" data-animation="animate__fadeInRight">
                    <img src="{{ asset('img/psychologist/3_Frame_392.png') }}" alt="НЕ ПРАЦЮЮ З" loading="lazy">
                </div>
            </div>
        </div>

        <div class="container left container-about">
            <div class="row">
                <div class="img-block animate-on-scroll" data-animation="animate__fadeInLeft">
                    <img src="{{ asset('img/psychologist/4_IMG_0583.svg') }}" alt="Замовте консультацію зі мною" loading="lazy">
                </div>
                <div class="text-block animate-on-scroll" data-animation="animate__fadeInRight">
                    <div class="title">Замовте консультацію зі мною</div>
                    <div class="img-block" style="display: none">
                        <img src="{{ asset('img/psychologist/4_IMG_0583.svg') }}" alt="Замовте консультацію зі мною" loading="lazy">
                    </div>
                    <div class="text">
                        <div>На ній ми разом вирішимо питання, які не дають Вам вільно жити.</div>
                        <div>Формат - <span>онлайн</span>, через зручний для Вас месенджер (WhatsApp, Viber, Google meet тощо).</div>
                        <div>Тривалість сеансу - <span>від 30 хвилин до 4 годин</span>.</div>
                    </div>
                    <div class="link">
                        <button type="button" data-popup="form" class="open-popup">Замовити консультацію</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container container-work">
            <div class="row">
                <div class="text-block animate-on-scroll" data-animation="animate__fadeInLeft">
                    <div class="title">Як це відбувається</div>
                    <div class="img-block" style="display: none">
                        <img src="{{ asset('img/psychologist/5_IMG_0706.png') }}" alt="Як це відбувається" loading="lazy">
                    </div>
                    <div class="text">
                        <div>Ми розповідаємо один одному про себе.</div>
                        <div>Визначаємо наші зони <span>комфорту</span>.</div>
                        <div>Я запитую про ваші особисті <span>кордони</span> (якщо вони є) та розповідаю про свої.</div>
                        <div>Далі ми визначаємо питання, які Вас турбують та <span>мету</span> наших занять.</div>
                        <div>Якщо Ви ще не знаєте точно, чого хочете досягти - це <span>нормально</span>.</div>
                        <div>Я <span>допоможу</span> Вам сформувати метрики <span>результату</span>.</div>
                    </div>
                </div>
                <div class="img-block animate-on-scroll" data-animation="animate__fadeInRight">
                    <img src="{{ asset('img/psychologist/5_IMG_0706.png') }}" alt="Як це відбувається" loading="lazy">
                </div>
            </div>
        </div>

        <div class="container left container-about">
            <div class="row">
                <div class="img-block animate-on-scroll" data-animation="animate__fadeInLeft">
                    <img src="{{ asset('img/psychologist/6_IMG_9318.png') }}" alt="ГРАФІК Зустрічей" loading="lazy">
                </div>
                <div class="text-block animate-on-scroll" data-animation="animate__fadeInRight">
                    <div class="title">ГРАФІК Зустрічей</div>
                    <div class="img-block" style="display: none">
                        <img src="{{ asset('img/psychologist/6_IMG_9318.png') }}" alt="ГРАФІК Зустрічей" loading="lazy">
                    </div>
                    <div class="text">
                        <div>Далі ми домовляємося про кількість сеансів, яка Вас цікавить.</div>
                        <div>Я раджу зустрічатися <span>1-3 рази/тиждень</span> для <span>максимального</span> результату.</div>
                        <div>Або мінімум <span>1 раз/місяць</span> - для <span>задовільного</span>.</div>
                        <div>Потім узгоджуємо часові питання та “в бій”.</div>
                        <div>А я <span>підтримаю</span> та спрямую Вас до результату.</div>
                    </div>
                    <div class="link">
                        <button type="button" data-popup="form" class="open-popup">Записатися на консультацію</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container container-work">
            <div class="row">
                <div class="text-block animate-on-scroll" data-animation="animate__fadeInLeft">
                    <div class="title">Безпека</div>
                    <div class="img-block" style="display: none">
                        <img src="{{ asset('img/psychologist/7_IMG_0583.svg') }}" alt="Безпека" loading="lazy">
                    </div>
                    <div class="text">
                        <div>Я <span>гарантую</span> конфіденційність, етичність та ефективність на моїх консультаціях.</div>
                        <div>Прошу і Вас зберігати конфіденційність моїх методів роботи в звʼязку з <span>авторськими правами</span>.</div>
                    </div>
                </div>
                <div class="img-block animate-on-scroll" data-animation="animate__fadeInRight">
                    <img src="{{ asset('img/psychologist/7_IMG_0583.svg') }}" alt="Безпека" loading="lazy">
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="content">
            <div class="link-video animate-on-scroll" data-animation="animate__fadeInLeft">
                <button type="button" data-popup="form" class="open-popup">Записатися на консультацію</button>
            </div>

            <div class="mark animate-on-scroll" data-animation="animate__fadeInLeft">
                <div class="text">
                    <span>Ваш</span>
                    <span>час прийшов</span>
                </div>
            </div>

            <div class="social-links animate-on-scroll" data-animation="animate__fadeInRight">
                <div>Задати питання :</div>
                <div class="links">
                    <a href="viber://chat?number=%2B380950225384" target="_blank" class="viber"></a>
                    <a href="https://t.me/michaeldanylov" target="_blank" class="telegram"></a>
                    <a href="https://wa.me/380950225384" target="_blank" class="whatsapp"></a>
                </div>
            </div>

            <div class="contacts animate-on-scroll" data-animation="animate__fadeInRight">
                <span>Для запису :</span>
                <a href="tel:+380950225384">095 022 53 84</a>
                <span>Асистент Михайло</span>
            </div>
        </div>
    </footer>

    <div id="popup-overlay"></div>

    <div id="video" class="popup" style="display: none">
        <div class="popup-content">
        <span class="close-popup">
            <img src="{{ asset('img/psychologist/close.svg') }}" alt="menu" loading="lazy">
        </span>
            <iframe width="368" height="644" src="https://www.youtube.com/embed/Gk8pE6XjUUM" title="Дмитро Асмагілов. Психолог правди." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

    <div id="form" class="popup" style="display: none">
        <div class="popup-content">
        <span class="close-popup">
            <img src="{{ asset('img/psychologist/close_list.svg') }}" alt="menu" loading="lazy">
        </span>

            <div class="form-wrapper">

            {{ render(controller('App\\Controller\\PsychologistRequestController::getForm')) }}

            </div>
        </div>
    </div>

{% endblock %}
