{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('static') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('static') }}
{% endblock %}

{% block investorForm %}{% endblock %}

{% block body %}
    <section class="sponsor donate">
        <div class="block-title">
            <h1 class="main-title">Спонсорам</h1>
        </div>

        <div class="col-2 row">
            <div class="info-text col">
                <p>Наш проект потребує вдосконалення для блага українців в сфері здоров’я. На даному етапі ми розширюємо наш каталог медичних закладів.</p>
                <p>Найближчий крок - створення особистих кабінетів відвідувачів та організацій.</p>
                <p>Для чого ми це робимо? Щоб користувачі мали більше свободи для висловлення свого ставлення в сфері здоров'я, компанії мали можливість надавати більше інформації про себе, а ринок став прозорим і відкритим.</p>
                <p>Технічні партнери нашого проекту веб студія Soft.ua і ФОП Недомовний Дмитро.</p>
                <p>Для підтримки і розвитку проекту Ви можете перерахувати будь-яку суму на карту Приватбанку:</p>
            </div>
        </div>

        <div class="info-text donate-wrapper">
            <div class="donate-block">
                <div class="donate-title">
                    <i class="icon credit-card dark"></i>
                    Номер картки
                </div>
                <div class="donate-body">
                    Недомовний Дмитро Михайлович</br>
                    <span>4149 6054 6633 8530</span></br>
                    Приватбанк, VISA</br>
                </div>
            </div>

            <div class="donate-block">
                <div class="donate-title">
                    <i class="icon credit-card dark"></i>
                    Рахунок-фактура
                </div>
                <div class="donate-body">
                    Номер рахунку IBAN <span>UA813510050000026003878906785</span></br>
                    Найменування банку одержувача АТ <span>«УКРСИББАНК»</span></br>
                    МФО банка <span>351005</span></br>
                    ПІБ отримувача <span>Недомовний Дмитро Михайлович</span></br>
                    ІПН отримувача <span>3337510778</span></br>
                    S.W.I.F.T. код <span>KHABUA2K</span></br>
                </div>
            </div>
        </div>

        <div class="col-2 row">
            <div class="info-text col">
                <h2>Спонсорська допомога</h2>
            </div>
        </div>
        <div class="col-2 row">
            <div class="info-text col">
                <p>Якщо ви бажаєте стати нашим спонсором, меценатом, бізнес-ангелом, інвестором і маєте можливості допомогти ресурсу МІСТО.ЮА та проекту «Я і здоров’я» - натисніть кнопку «Стати спонсором» нижче для отримання рахунку-фактури.</p>
                <p>Вкажіть, як до Вас звертатися та як з Вами зв’язатися (Skype, WhatsApp, Facebook, Telegram, Email, номер телефону тощо) - наша особа-партнер зв’яжеться з Вами та виставить рахунок на ім’я ТОВ «СОФТ.юа» або ФОП.</p>
            </div>
        </div>

        <div class="info-text donate-wrapper">
            <div class="donate-block">
                <div class="donate-title">
                    <i class="icon credit-card dark"></i>
                    Рахунок-фактура
                </div>
                <div class="donate-body">
                    ПриватБанк (UAH) <span>UA793052990000026003046809425</span>
                </div>
            </div>
        </div>

        <div class="contact-link-wrapper">
            <button data-micromodal-trigger="sponsor-modal" class="button primary contact-button">Стати спонсором проєкту</button>
        </div>
    </section>

    {{ render(controller('App\\Controller\\SponsorRequestController::getForm')) }}
{% endblock %}
