<nav class="catalog-menu">
    <div class="levels-wrapper">
        <div class="mobile-title">
            Каталог медзакладів
        </div>

        <button class="button close-menu-btn">
            <i class="icon x-mark"></i>
        </button>

        <div class="level-1">
            <div class="tab-label" data-tab-number="1">Області України</div>
            <div class="tab-label" data-tab-number="2">Типи медичних установ</div>
        </div>
        
        <div class="level-2">

            <div class="tab" data-tab-number="1">
                <div class="tab-title">Оберіть область України</div>

                <div class="items-wrapper">
                    <div class="empty"></div>
                    {% cache "top_menu_areas" ttl(3600) %}
                        {% for key, areas in ab_areas_list() %}
                            <div class="block">
                                <div class="char">{{ key }}</div>
                                <div class="links">
                                    {% for area in areas %}
                                        <a href="{{ tu_url(area, true) }}">
                                            {{ tu_name(area, true) }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endcache %}
                </div>
            </div>
            <div class="tab" data-tab-number="2">

                <div class="tab-title">Оберіть тип медичної установи</div>

                <div class="items-wrapper">
                    <div class="empty"></div>
                    {% cache "top_menu_types" ttl(3600) %}
                        {% for key, types in ab_types_list() %}
                            <div class="block">
                                <div class="char">{{ key }}</div>
                                <div class="links">
                                    {% for type in types %}
                                        <a href="{{ unit_type_url(type) }}">
                                            {{ type.name }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endcache %}
                </div>
            </div>
        </div>
    </div>
</nav>