<div id="menu">
  <div class="menu-header">
    <img class="menu-logo" src="{{ asset('img/logo.svg') }}" alt="Логотип MICTO.UA" width="215" height="56" loading="lazy" decoding="async" fetchpriority="low">

    {# TODO: Replace with module #}
    {# <div id="lang-selector">
      <a href="#" class="lang uk selected">Укр</a>
      <a href="#en" class="lang en">Eng</a>
    </div> #}

    <div class="close">
      <i class="icon x-mark"></i>
    </div>
  </div>

  <div class="menu-content">
    <div class='static-pages'>
        <a class="button primary add-unit-btn" href={{ path('institution_request_page') }}>Додати медзаклад</a>
        <a href="{{ path('about_page') }}">Про проект</a>
        <a href="{{ path('advertising_page') }}">Реклама</a>
        <a href="{{ path('psychologist_page') }}">Психолог</a>
        <a href="{{ path('investor_page') }}">Інвесторам</a>
        <a href="{{ path('donate_page') }}">Підтримати проєкт</a>
        <a href="{{ path('all_comments_page') }}">Усі відгуки</a>
        <button id="menu-catalog-btn" class="catalog-btn button primary color-20">Каталог медзакладів</button>
        <a class="button secondary color-9" href="{{ path('auth_page') }}">Увійти</a>
    </div>


    <div class="contacts">
      <div class="block">
        <div class="block-title">Контакти MICTO</div>
        <div>
          <span>ТОВ "СОФТ.юа" технічний партнер:</span>
          <a href="https://soft.ua" rel="noopener noreferrer">www.soft.ua</a>
          <a class="email" href="mailto:infos@soft.ua">infos@soft.ua</a>
        </div>
      </div>
      <div class="block">
        <div class="block-title">Контакти МОЗ</div>
        <div>
          <span>Телефон "гарячої лінії":</span>
          <a href="tel:+0800505201">0 800 505 201</a>
        </div>
        <div>
          <span>Сайт і пошта:</span>
          <a href="https://moz.gov.ua/uk" rel="noopener noreferrer">www.moz.gov.ua</a>
          <a class="email" href="mailto:moz@moz.gov.ua">moz@moz.gov.ua</a>
        </div>
      </div>

      <div class="block social">
        <div class="block-title">Приєднуйтесь до нас</div>

        <div class="social-links">
          <a href="https://www.facebook.com/100450092618750/posts/110907848239641/" rel="noopener noreferrer" class="facebook"><i class="icon facebook white"></i></a>
          <a href="https://instagram.com/micto_ua?utm_medium=copy_link" rel="noopener noreferrer" class="instagram"><i class="icon instagram white"></i></a>
          <p class="copyright"></p>
        </div>
        
        <p class="copyrigth">© Медичний портал-хаб Micto.ua</p>
      </div>
    </div>
  </div>

  <div class="menu-footer">
  
  </div>
</div>

<div id="menu-bg"></div>