{# Create new file with info_middle_N.webp name, add new number to array below #}

{% set possibleNumbers = [1, 2, 3] %}

{# {% set randomNumber = random(possibleNumbers) %} #}
{% set randomNumber = 3 %}

{% set imgLink = 'img/info/info_middle_' ~ randomNumber ~ '.webp' %}
{% set mobileImgLink = 'img/info/info_middle_' ~ randomNumber ~ '_mobile.webp' %}
{% set tabletImgLink = 'img/info/info_middle_' ~ randomNumber ~ '_tablet.webp' %}

{% set linksArray = [
    path('psychologist_page'),
    ]
%}
    {# path('advertising_page'),
    'https://soft.ua/', #}

<div class="custom-info middle-static">
    <a href="{{ linksArray[0] }}">
    {# <a href="{{ linksArray[randomNumber - 1] }}"> #}
        <picture>
            <source media="(min-width: 991px)" srcset="{{ asset(imgLink) }}" type="image/webp">
            <source media="(min-width: 576px)" srcset="{{ asset(tabletImgLink) }}" type="image/webp">
            <img 
                src="{{ asset(mobileImgLink) }}" 
                alt="info banner"
                width="563"
                height="255"
                loading="lazy"
                {# decoding="async" #}
            >
        </picture>    
    </a>
</div>