{# Create new file with info_top_N.png name, add new number to array below #}

{% set possibleNumbers = [1, 2, 3, 4] %}
{# {% set randomNumber = random(possibleNumbers) %} #}
{% set randomNumber = 4 %}

{% set imgLink = 'img/info/info_top_' ~ randomNumber ~ '.svg' %}
{% set largeImgLink = 'img/info/info_top_' ~ randomNumber ~ '_large.svg' %}
{% set mobileImgLink = 'img/info/info_top_' ~ randomNumber ~ '_mobile.svg' %}
{% set tabletImgLink = 'img/info/info_top_' ~ randomNumber ~ '_tablet.svg' %}

{# {% set linksArray = [
    path('advertising_page'),
    'https://soft.ua/',
    path('psychologist_page'),
    ]
%} #}

<div class="custom-info top {{ fixed is defined and fixed ? 'fixed' : '' }} number-{{ randomNumber }}" >
    {# <a href="{{ linksArray[randomNumber - 1] }}"> #}
    <a href="https://t.me/asmagilov" target="_blank">
        <picture>
            <source media="(min-width: 1441px)" srcset="{{ asset(largeImgLink) }}">
            <source media="(min-width: 991px)" srcset="{{ asset(imgLink) }}">
            <source media="(min-width: 576px)" srcset="{{ asset(tabletImgLink) }}">
            <img 
                src="{{ asset(mobileImgLink) }}" 
                alt="info banner"
                height="68"
                width="375"
                decoding="async"
            >
        </picture>
    </a>
</div>
