{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('allComments') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('allComments') }}
{% endblock %}

{% block body %}

<section class="main-title-block">
    <div class="container">
        <h1 class="title">
            Усі відгуки про медичні установи
        </h1>
    </div>
</section>

<div class="all-comments-wrapper">
    <div class="filter-block">
        <button class="button primary color-2" id="toggle-filters-block">
            Фільтри
        </button>

        <div class="filters">
            <div class="block-title">Фільтри</div>
            
            {% include "comments/selected_filters_block.html.twig" %}

            {% include 'comments/filters_list.html.twig' with {
                    filters: filters,
                    selectedFilters: selectedFilters,
            } only %}
        </div>

        <div class="filters-bg"></div>
    </div>

    <div class="comments-wrapper">
        <div class="sort-block">
            {# {% for key, order in orderByList %}
                {% if key == orderBy %}
                    <div class="selected-block">Сортування: {{ order }}</div>
                {% endif %}
            {% endfor %} #}

            <button class="button primary color-2" id="mobile-sort-btn">Сортування</button>
            
            <div class="selected-block">Сортування: </div>

            <div class="list">
                <div class="mobile-title">Сортування</div>
                {% for key, order in orderByList %}
                    <div
                        data-value="{{ key }}"
                        class="{% if orderBy == key %}active{% endif %}"
                    >
                        {{ order }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="reviews-list list-parent">
            {% include 'comments/comments_list.html.twig' with {
                comments: comments,
                nextPage: nextPage,
                selectedFilters: selectedFilters,
                orderBy: orderBy,
            } only %}
        </div>
    </div>

</section>

    {% include "components/comment/add_reply_modal.html.twig" %}

    <div class="sort-mobile-bg"></div>

{% endblock %}
