{% if comments %}
    {% for comment in comments %}
        <div class="review">
            <div class="main-block">
                <div class="row info">
                    <div class="row person">
                        <div class="name-review">
                            <div class="name">
                                {{ comment.user.firstName | default(comment.name) | default('Анонім') }}
                            </div>

                            {% if comment.type.name in ['REVIEW', 'COMPLAINT', 'GRATITUDE'] %}
                                {% include 'components/comment/rating.html.twig' with {
                                    rating: comment.mark
                                } only %}
                            {% endif %}
                        </div>

                        <div class="date create">
                            {{ 'comment.publication_date'|trans }} :
                            <span>{{ comment.createdAt|date('d.m.Y') }}</span>
                        </div>
                    </div>

                    <div class="unit-name">
                        {% if comment.institutionUnit %}
                            <a href="{{ institution_unit_url(comment.institutionUnit) }}">
                                {{ comment.institutionUnit.name }}
                            </a>
                        {% else %}
                            <a href="{{ institution_url(comment.institution) }}">
                                {{ comment.institution.name }}
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="row content">
                    {% if comment.type.name != 'REVIEW' and comment.type.name != 'QUESTION' %}
                        <div class="badge type_{{ comment.type.value }}">
                            {{ ('comment.type.'~ comment.type.name)|trans }}
                        </div>
                    {% endif %}

                    {% if comment.isAdminComment %}
                        <div class="badge type_admin">
                            {{ 'comment.badge.admin'|trans }}
                        </div>
                    {% elseif comment.isInstitutionComment %}
                        <div class="badge type_institution">
                            {{ 'comment.badge.institution'|trans }}
                        </div>
                    {% endif %}

                    <div class="row text">
                        <p>
                            {{ comment.text }}
                        </p>
                    </div>

                    {% if show_department_link(comment, comment.institution) %}
                        <div class="unit">
                            Відділення:
                            <a href="{{ unit_department_url(comment.institutionUnitDepartment) }}">
                                {{ comment.institutionUnitDepartment.name }}
                            </a>
                        </div>
                    {% endif %}

                    {% if comment.monthOfVisit and comment.yearOfVisit %}
                        <div class="row">
                            <div class="date visit">
                                <i class="icon calendar gray"></i>
                                {{ 'comment.visit_date.label'|trans }} {{ ('comment.visit_date.month.' ~ comment.monthOfVisit)|trans|lower  }} {{ comment.yearOfVisit }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="row feedback" data-comment-id="{{ comment.id }}">
                        <div class="likeBtn" data-action="{{ path('api_toggle_comment_reaction', {'id': comment.id, 'type': 'like'}) }}">
                            <i class="icon like"></i>
                            <span class="value">{{ comment.numLikes }}</span>
                        </div>
                        <div class="dislikeBtn" data-action="{{ path('api_toggle_comment_reaction', {'id': comment.id, 'type': 'dislike'}) }}">
                            <i class="icon dislike"></i>
                            <span class="value">{{ comment.numDislikes }}</span>
                        </div>

                        <button class="button reply" data-comment-id="{{ comment.id }}" data-modal-id="add-reply-modal" >
                            {{ 'comment.reply'|trans }}
                        </button>
                    </div>

                    {% set numReply = num_reply(comment) %}
                    {% if numReply %}
                        <div class="replies">
                            <button class="show-replies button" data-url="{{ path('api_comment_replies', {
                                'commentId': comment.id,
                                'page': 1
                            }) }}">
                                {{ 'comment.replies_count'|trans({'%count%': numReply}) }}
                            </button>

                            <div class="replies-wrapper">
                                {# TODO: Сюди AJAX-ом підвантажувати відповіді #}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}

    {% if nextPage is defined and nextPage %}
        {# TODO: змінити Url #}
        <button class="primary button more" data-url="{{ path('api_get_all_comments_page', {
            'page': nextPage,
            'filter': selectedFilters,
            'order': orderBy,
        }) }}">
            Показати ще ...
            <i class="arrow-right white"></i>
        </button>
    {% endif %}
{% else %}
    <div class="empty-block">
        <img src="{{asset('img/emty_comment.png')}}" width="238" height="199" loading="lazy" alt="Немає відгуків">
    </div>
{% endif %}