{% if comments %}
    {% for comment in comments %}
        <div class="review" id="comment_{{ comment.id }}">
            <div class="main-block">
                <div class="row person">
                    <div class="name">
                        {{ comment.user.firstName | default(comment.name) | default('Анонім') }}
                    </div>

                    {% if comment.type.name in ['REVIEW', 'COMPLAINT', 'GRATITUDE'] %}
                        {% include 'components/comment/rating.html.twig' with {
                            rating: comment.mark
                        } only %}
                    {% endif %}
                    <div class="date create">
                        {{ 'comment.publication_date'|trans }} :
                        <span>{{ comment.createdAt|date('d.m.Y') }}</span>
                    </div>
                </div>
                <div class="row content">
                    {% if comment.type.name != 'REVIEW' and comment.type.name != 'QUESTION' %}
                        <div class="badge type_{{ comment.type.value }}">
                            {{ ('comment.type.'~ comment.type.name)|trans }}
                        </div>
                    {% endif %}

                    {% if comment.isAdminComment %}
                        <div class="badge type_admin">
                            {{ 'comment.badge.admin'|trans }}
                        </div>
                    {% elseif comment.isInstitutionComment %}
                        <div class="badge type_institution">
                            {{ 'comment.badge.institution'|trans }}
                        </div>
                    {% endif %}

                    <div class="row text">
                        <p>
                            {{ comment.text }}
                        </p>
                    </div>

                    {% if show_unit_link(comment, baseComment.entity) %}
                        <div class="unit">
                            Підрозділ:
                            <a href="{{ institution_unit_url(comment.institutionUnit) }}">
                                {{ comment.institutionUnit.name }}
                            </a>
                        </div>
                    {% endif %}

                    {% if show_department_link(comment, baseComment.entity) %}
                        <div class="unit department">
                            Відділення:
                            <a href="{{ unit_department_url(comment.institutionUnitDepartment) }}">
                                {{ comment.institutionUnitDepartment.name }}
                            </a>
                        </div>
                    {% endif %}

                    {% if comment.monthOfVisit and comment.yearOfVisit %}
                        <div class="row">
                            <div class="date visit">
                                <i class="icon calendar gray"></i>
                                {{ 'comment.visit_date.label'|trans }} {{ ('comment.visit_date.month.' ~ comment.monthOfVisit)|trans|lower  }} {{ comment.yearOfVisit }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="row feedback" data-comment-id="{{ comment.id }}">
                        <div class="likeBtn" data-action="{{ path('api_toggle_comment_reaction', {'id': comment.id, 'type': 'like'}) }}">
                            <i class="icon like"></i>
                            <span class="value">{{ comment.numLikes }}</span>
                        </div>
                        <div class="dislikeBtn" data-action="{{ path('api_toggle_comment_reaction', {'id': comment.id, 'type': 'dislike'}) }}">
                            <i class="icon dislike"></i>
                            <span class="value">{{ comment.numDislikes }}</span>
                        </div>

                        <button class="button reply" data-comment-id="{{ comment.id }}" data-modal-id="add-reply-modal" >
                            {{ 'comment.reply'|trans }}
                        </button>
                    </div>

                    {% set numReply = num_reply(comment) %}
                    {% if numReply %}
                        <div class="replies">
                            <button class="plain-text show-replies button" data-url="{{ path('api_comment_replies', {
                                'commentId': comment.id,
                                'page': 1
                            }) }}">
                                {{ 'comment.replies_count'|trans({'%count%': numReply}) }}
                            </button>

                            <div class="replies-wrapper"></div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}

    {% if nextPage is defined and nextPage %}
        <button class="primary button more" data-url="{{ path('api_get_comments_page', {
            'entityType': baseComment.entityType,
            'entityId': baseComment.entity.id,
            'type': type,
            'page': nextPage
        }) }}">
            Показати ще ...
            <i class="arrow-right white"></i>
        </button>
    {% endif %}
{% else %}
    <div class="empty-block">
        <img src="{{asset('img/emty_comment.png')}}" width="238" height="199" loading="lazy" alt="Немає відгуків">
        <p class="review-text">Будьте першим, хто залишить відгук</p>
        <p class="question-text">Будьте першим, хто залишить питання</p>
    </div>
{% endif %}