{# @var ItemsWithPagination comments #}
{# @var float rating #}

<div class="reviews" id="reviews">
    <div class="top-row" id="review-top-row">
        <div class="rating">
            <div class="block-title">{{ 'institution.rating_title'|trans }}</div>

            {% include 'components/comment/rating.html.twig' with {
                size: 'big',
                rating: baseComment.entity.rating
            } only %}
        </div>

        <div class="reviews-count">
            <div class="block-title">{{ 'comment.count_label'|trans }}</div>
            <div class="count">
                <i class="comments blue icon"></i>
                <span>{{ total }}</span>
            </div>

        </div>
{#        <button class="primary button">{{ 'comment.add_comment_btn'|trans }}</button>#}
        <div class="info dropdown">{{ 'comment.info'|trans }}</div>

        <div class="select-form-btns">
            <div>
                <button class="button secondary color-9 selected" id="reviews-tab-btn" data-tab="add-review-wrapper">
                    Відгуки ({{ numComments }})
                </button>
                <button class="button secondary color-9" id="question-tab-btn" data-tab="add-question-wrapper">
                    Питання ({{ numQuestions }})
                </button>
            </div>
        </div>
    </div>

    <div class="toggle-form-wrapper">
        <div class="add-review-wrapper selected">
            <div class="text">
                Напишіть свій відгук про цей заклад
            </div>
            <button class="button primary" data-micromodal-trigger="add-review-modal">
                <i class="pensil white icon"></i>
                Залишити відгук
            </button>
        </div>
        <div class="add-question-wrapper">
            <div class="text">
                Задайте своє питання до цього закладу
            </div>
            <button class="button primary" data-micromodal-trigger="add-question-modal">
                <i class="pensil white icon"></i>
                Залишити питання
            </button>
        </div>
    </div>

    <div class="reviews-list list-parent {{ comments ? '' : 'empty'}}">
        {% include 'components/comment/comments_list.html.twig' with {
            comments: comments,
            type: 'review',
            nextPage: commentsNextPage,
            baseComment: baseComment,
        } only %}
    </div>

    <div class="questions-list list-parent {{ questions ? '' : 'empty'}}">
        {% include 'components/comment/comments_list.html.twig' with {
            comments: questions,
            type: 'question',
            nextPage: questionsNextPage,
            baseComment: baseComment,
        } only %}
    </div>
</div>
