{% if replies %}
    {% for reply in replies %}
        <div class="review reply" id="reply{{ reply.id }}">
            <div class="row">
                <div class="name">
                    {{ reply.user.firstName | default(reply.name) | default('Анонім') }}
                </div>
            </div>

            {% if reply.isAdminComment %}
                <div class="badge type_admin">
                    {{ 'comment.badge.admin'|trans }}
                </div>
            {% elseif reply.isInstitutionComment %}
                <div class="badge type_institution">
                    {{ 'comment.badge.institution'|trans }}
                </div>
            {% endif %}

            <div class="row">
                <div class="date create">
                    {{ 'comment.publication_date'|trans }} :
                    <span>{{ reply.createdAt|date('d.m.Y') }}</span>
                </div>
            </div>

            <div class="row reply-text">
                {% if reply.rootItem is defined and reply.parentItem.id != baseComment.id %}
                    <div class="reply-to">
                        <a href="#reply{{ reply.parentItem.id }}" data-scroll-to="#reply{{ reply.parentItem.id }}">
                            @{{ reply.parentItem.name }}
                        </a>
                    </div>
                {% endif %}

                {{ reply.text }}
            </div>

            <div class="row feedback" data-comment-id="{{ reply.id }}">
                <div class="likeBtn" data-action="{{ path('api_toggle_comment_reaction', {'id': reply.id, 'type': 'like'}) }}">
                    <i class="icon like"></i>
                    <span class="value">{{ reply.numLikes }}</span>
                </div>
                <div class="dislikeBtn" data-action="{{ path('api_toggle_comment_reaction', {'id': reply.id, 'type': 'dislike'}) }}">
                    <i class="icon dislike"></i>
                    <span class="value">{{ reply.numDislikes }}</span>
                </div>

                <button class="button reply" data-modal-id="add-reply-modal"  data-comment-id="{{ reply.id }}" >{{ 'comment.reply'|trans }}</button>
            </div>
        </div>
    {% endfor %}

    {% if nextPage is defined and nextPage %}
        <button class="plain-text button show-replies" data-url="{{ path('api_comment_replies', {
            'commentId': baseComment.id,
            'page': nextPage
        }) }}">
            Показати ще ...
        </button>
    {% endif %}
{% endif %}