{% form_theme form 'form/register_form_layout.html.twig' %}

{{ form_start(form, {'action': path('create_comment'), 'attr': {'id': 'create-comment-form'}}) }}
    {% if form_errors(form) %}
        <div class="error-message wide">
            Виникла помилка при збереженні відгуку
        </div>
    {% endif %}

    {{ form_row(form.type) }}

    <div class="visit-date">
        <span class="visit-text">Коли Ви відвідували заклад?</span>
        <div>
            {{ form_row(form.monthOfVisit) }}
            {{ form_row(form.yearOfVisit) }}
        </div>
    </div>

{{ form_end(form) }}
