{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('catalog') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('catalog') }}
{% endblock %}

{% block investorForm %}{% endblock %}

{% block body %}

<section class="main-title-block">
    <div class="container">
        <h1 class="title">
            {{ unitType.name }}
        </h1>
        <div class="units-amount">
            <span>{{ numUnits }}</span> {{ 'common.institution_count_label'|trans({'%count%': numUnits}) }}
        </div>
    </div>
</section>

<section class="institutions-wrapper">
    {% if units|length > 0 %}
        <div class="filter-block">
            <button class="button primary color-2" id="toggle-filters-block">
                Фільтри
            </button>

            <div class="filters">
                <div class="block-title">Фільтри</div>
                
                {% include "comments/selected_filters_block.html.twig" %}

                {% include "institution/areas_block.html.twig" with { areas: areas } %}
            </div>

            <div class="filters-bg"></div>
        </div>
    {% endif %}

    <div class="institutions-list">
        <div class="block-title">Медичні заклади</div>

            <div id="institutions-container" class="{{ units is defined and units|length > 0 ? '' : 'empty' }}">
                {% include('components/unit/list.html.twig') with {units: units} only %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
