{# @var InstitutionUnit institutionUnit #}
{# @var InstitutionUnitDepartment[] unitDepartments #}
{# @var ItemsWithPagination comments #}
{% extends 'base.html.twig' %}
{% set institution = institutionUnit.institution %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('unit') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('unit') }}
{% endblock %}

{% block investorForm %}{% endblock %}

{% block body %}
<div class="unit">
    {# {% include "components/ad/ad_top.html.twig" with { fixed:true } %} #}

    <section class="general-info">
        <div class="left-side">

            <div class="rating">
                <span class="total-rating">{{ institutionUnit.rating|number_format(1, '.', ',') }}</span>

                <i class="star_full_rounded icon"></i>

                <a class="reviews-count" href="#reviews" data-scroll-to="#review-top-row">{{ 'comment.total'|trans({'%count%': numComments}) }}</a>
            </div>

            {% include "components/tags.html.twig" with { institution: institutionUnit.institution } %}

            <h1>{{ institutionUnit.name }}</h1>

            {% if institutionUnit.fullName %}
                <span>{{ institutionUnit.fullName }}</span>
            {% endif %}

            {# <span class="main-institution">
                Цей підрозділ входить у медзаклад:
                <a href="{{ institution_unit_url(institutionUnit) }}">
                    {{ institutionUnit.name }}
                </a>
            </span> #}

            <div class="buttons-wrapper">
                <a class="button primary scroll-to" href="#add-review-wrapper" data-micromodal-trigger="add-review-modal">
                    <i class="pensil white icon"></i>
                    Написати відгук
                </a>
                <button class="button secondary" data-micromodal-trigger="notify-modal">
                    Запропонувати зміни
                </button>
            </div>

            <ul class="info">
                {% if institutionUnit.schedule|length %}
                    <li class="graph">
                        <span>Графік</span>
                        {% include 'components/institution/schedule_dropdown.html.twig' with {
                            schedule: institutionUnit.schedule
                        } only %}
                    </li>
                {% endif %}
                <li  class="city">
                    {% include 'components/institution/city_block.html.twig' with {
                        city: institutionUnit.city,
                    } only %}
                </li>
                {% if institutionUnit.address and institutionUnit.address.address %}
                    <li class="address">
                        {% include 'components/institution/address_block.html.twig' with {
                            address: institutionUnit.address
                        } only %}
                    </li>
                {% endif %}

                {% if institutionUnit.phones is not empty %}
                    <li class="contacts">
                        {% include 'components/institution/contacts_block.html.twig' with {
                            emails: [],
                            phones: institutionUnit.phones,
                        } only %}
                    </li>
                {% endif %}
                {% if institutionUnit.chiefName %}
                    <li class="chief-name">
                        <div>
                            <span>Керівник лікарні</span>
                            <span class="value">{{ institutionUnit.chiefName }}</span>
                        </div>
                    </li>
                {% endif %}
                {% if institutionUnit.headDoctorName %}
                    <li class="head-doctor-name">
                        <div>
                            <span>Головний лікар</span>
                            <span class="value">{{ institutionUnit.headDoctorName }}</span>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>

        <div class="right-side">
            <div class="images">
                <div class="image main">
                    {% if image %}
                        <img src="{{ image }}" alt="{{ institutionUnit.name | escape('html') }}" width="364" loading="lazy">
                    {% else %}
                        <img src="{{ asset('img/no_photo.svg') }}" alt="Фото відсутнє" width="364" height="351" loading="lazy">
                    {% endif %}
                </div>
                {# <div class="thumb-images">
                    <div class="image"></div>
                    <div class="image"></div>
                    <div class="image"></div>
                </div> #}
            </div>
        </div>

    </section>

    <section class="unit-tabs">
        <ul>
        {% if institutionUnit.departments|length %}
            <li class="selected">
                <a href="#departments">Відділення</a>
            </li>
            <li>
                <a href="#about">Про заклад</a>
            </li>
        {% endif %}
        </ul>
        <div class="tab-content">
            {% if institutionUnit.departments|length %}
                <div id="departments" class="tab departments selected">
                    <h2>Список відділень</h2>
                    {% include 'institution_unit/tab-departments.html.twig' with {
                        departments: institutionUnit.departments
                    } only %}
                </div>
                <div id="about" class="tab about">
                    {% include 'components/institution/tab-about.html.twig' with {
                        unit: institutionUnit
                    } only %}
                </div>
            {% else %}
                <div id="about" class="tab about selected">
                    {% include 'components/institution/tab-about.html.twig' with {
                        unit: institutionUnit
                    } only %}
                </div>
            {% endif %}


{#            <div class="catalog">#}
{#                <ul class="sub-tabs">#}
{#                    <li>#}
{#                        <button class="button">Послуги</button>#}
{#                    </li>#}
{#                    <li>#}
{#                        <button class="button primary color-gray-1">Обладнання</button>#}
{#                    </li>#}
{#                    <li>#}
{#                        <button class="button primary color-gray-1">Товари</button>#}
{#                    </li>#}
{#                </ul>#}


{#                <div class="catalog-wrapper">#}
{#                    <h3>Каталог послуг</h3>#}

{#                    <input type="text" placeholder="Я хочу знайти ...">#}

{#                    <ul>#}
{#                        <li class="catalog-item lvl-1">#}
{#                            <div class="row">#}
{#                                <div class="title">Психотерапія</div>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li class="catalog-item lvl-1">#}
{#                            <div class="row open">#}
{#                                <div class="title">Неврологія</div>#}
{#                            </div>#}
{#                            <ul>#}
{#                                <li class="catalog-item lvl-2">#}
{#                                    <div class="row open">#}
{#                                        <div class="title">Психіатрія</div>#}
{#                                    </div>#}
{#                                    <ul>#}
{#                                        <li class="catalog-item lvl-3">#}
{#                                            <div class="row">#}
{#                                                <div class="title">Форма власності</div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        <li class="catalog-item lvl-3">#}
{#                                            <div class="row">#}
{#                                                <div class="title">Форма власності</div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </li>#}
{#                                <li class="catalog-item lvl-2">#}
{#                                    <div class="row open">Психіатрія</div>#}
{#                                    <ul>#}
{#                                        <li class="catalog-item lvl-3">#}
{#                                            <div class="row last">#}
{#                                                <div class="title">Видалення внутрішньошлункового балона</div>#}
{#                                                <div class="price">1500 грн</div>#}
{#                                                <button class="button primary">Записатись</button>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        <li class="catalog-item lvl-3">#}
{#                                            <div class="row last">#}
{#                                                <div class="title">Видалення внутрішньошлункового балона</div>#}
{#                                                <div class="price">1500 грн</div>#}
{#                                                <button class="button primary">Записатись</button>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        <li class="catalog-item lvl-3">#}
{#                                            <div class="row last">#}
{#                                                <div class="title">Видалення внутрішньошлункового балона</div>#}
{#                                                <div class="price">1500 грн</div>#}
{#                                                <button class="button primary">Записатись</button>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li class="catalog-item lvl-1">#}
{#                            <div class="row">#}
{#                                <div class="title">Психотерапія</div>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li class="catalog-item lvl-1">#}
{#                            <div class="row">#}
{#                                <div class="title">Психотерапія</div>#}
{#                            </div>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}

{#            <div class="appointment-booking">#}
{#                <h3>Запис</h3>#}
{#                <form action="">#}
{#                    <div class="left-side"></div>#}
{#                    <div class="right-side">#}
{#                        <input type="text">#}
{#                        <input type="text">#}
{#                        <input type="text">#}
{#                        <input type="text">#}
{#                        <textarea name="" id="" rows="8"></textarea>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}

{#            <div class="branches">#}
{#                <h3>Інші Підрозділи (філії)</h3>#}

{#                <div class="branches-list">#}
{#                    <div class="branch">#}

{#                        <div class="title">Медичний центр ТзОВ Клініка репродукції людини "Альтернатива"</div>#}

{#                        <div class="tags">#}
{#                            <div class="specialty">Спеціальність: Травматологія</div>#}
{#                        </div>#}

{#                        <ul>#}
{#                            <li class="worktime">#}
{#                                <i class="clock dark"></i>#}
{#                                <span>Графік роботи:</span>#}
{#                                <div class="dropdown">#}
{#                                    <div class="title">#}
{#                                        <span>08:00 - 20:00 (сьогодні)</span>#}
{#                                        <i class="chevron-down dark"></i>#}
{#                                    </div>#}
{#                                    <div class="dropdown-items"></div>#}
{#                                </div>#}
{#                            </li>#}

{#                            <li class="phones">#}
{#                                <i class="clock dark"></i>#}
{#                                <span>Телефон:</span>#}
{#                                <div class="dropdown">#}
{#                                    <div class="title">#}
{#                                        <span>093  378  24 45</span>#}
{#                                        <i class="chevron-down dark"></i>#}
{#                                    </div>#}
{#                                    <div class="dropdown-items"></div>#}
{#                                </div>#}
{#                            </li>#}

{#                            <li class="address">#}
{#                                <i class="clock dark"></i>#}
{#                                <span>Адреса:</span>#}
{#                                <div class="full-adress">#}
{#                                    <span>Київ, Київська область</span>#}
{#                                    <span>01042</span>#}
{#                                    <span>бульвар Миколи Міхновського, 17А</span>#}
{#                                </div>#}
{#                            </li>#}
{#                        </ul>#}

{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </section>

    {% include "components/ad/ad_middle.html.twig" %}

    <section class="reviews">
        <h2 class="title">Відгуки</h2>

        {{ render(controller('App\\Controller\\EntityCommentsController::getList', {
            'entity': institutionUnit,
        })) }}

    </section>

    {% include "components/comment/add_review_modal.html.twig" with { entity: institutionUnit } %}

    {% include "components/comment/add_question_modal.html.twig" with { entity: institutionUnit } %}

    {% include "components/comment/add_reply_modal.html.twig" with { entity: institutionUnit } %}

    {% include "form/notify_request/modal.html.twig" with { entity: institutionUnit } %}

{#    <section class="our-team">#}
{#        <h2 class="title">Наша команда</h2>#}
{#        <div class="sorting">#}
{#            <span>Спеціальності:</span>#}
{#            <select name="" id="">#}
{#                <option value="" selected disabled>Всі спеціальності</option>#}
{#                <option value="">2</option>#}
{#                <option value="">3</option>#}
{#            </select>#}
{#        </div>#}
{#        <div class="items-wrapper">#}
{#            {% set items = [1,2,3,4] %}#}
{#            {% for item in items %}#}
{#                <div class="item">#}
{#                    <div class="photo">#}
{#                        <img src="" alt="">#}
{#                        <div class="badge">Досвід 15 років</div>#}
{#                    </div>#}
{#                    <div class="info">#}
{#                        <div class="name">Посохов Дмитро Миколайович</div>#}
{#                        <div class="profession">Психолог, Психотерапевт</div>#}
{#                        <div class="degree">Ступінь : Доктор наук</div>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#        <button class="primary button more">#}
{#            Дивитись всі#}
{#            <i class="arrow-right white"></i>#}
{#        </button>#}
{#    </section>#}

{#    <section class="news">#}
{#        <h2 class="title">Блог клініки</h2>#}
{#        <div class="list-wrapper">#}
{#            {% set items = [1,2,3] %}#}
{#            {% for item in items %}#}
{#                <div class="post">#}
{#                    <img src="" alt="">#}
{#                    <div class="text-wrapper">#}
{#                        <span>Цукровий діабет і як захистити себе від нього?</span>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#        <button class="primary button more">#}
{#            Дивитись всі#}
{#            <i class="arrow-right white"></i>#}
{#        </button>#}
{#    </section>#}

{#    <section class="vacancies">#}
{#        <h2 class="title">Вакансії </h2>#}
{#        <div class="items-wrapper">#}
{#            {% set items = [1,2] %}#}
{#            {% for item in items %}#}
{#                <div class="item">#}
{#                    <div class="badge">Актуально</div>#}
{#                    <div class="info">#}
{#                        <div class="name">Лікар-хірург</div>#}
{#                        <div class="about">Повна зайнятість, неповна зайнятість. Також готові взяти студента. Середня спеціальна освіта. Условия работы: работа в современной клинике; дружный коллектив коллектив; график работы-сутки/двое; достойный уровень</div>#}
{#                        <div class="date">15 год. тому</div>#}
{#                    </div>#}
{#                    <i class="stethoscope"></i>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#        <button class="primary button more">#}
{#            Дивитись всі#}
{#            <i class="arrow-right white"></i>#}
{#        </button>#}
{#    </section>#}

</div>


{# <section>
    <table>
        <tbody>
        <tr>
            <td class="row-name">Тип закладу:</td>
            <td class="row-value">Підрозділ</td>
        </tr>
        <tr>
            <td class="row-name">Медичний заклад:</td>
            <td class="row-value">
                <a href="{{ institution_url(institution) }}">
                    {{ institution.name }}
                </a>
            </td>
        </tr>
        <tr>
            <td class="row-name">Область:</td>
            <td class="row-value">{{ area.name }}</td>
        </tr>
        {% if district %}
            <tr>
                <td class="row-name">Район:</td>
                <td class="row-value">{{ district.name }}</td>
            </tr>
        {% endif %}
        <tr>
            <td class="row-name">Населений пункт:</td>
            <td class="row-value">{{ tu_name(city) }}</td>
        </tr>

        {% if institutionUnit.address %}
            <tr>
                <td class="row-name">Адреса:</td>
                <td class="row-value">
                    {% set address = institutionUnit.address %}
                    {{ address.address | default('') }}
                    {% if address.latitude and address.longitude %}
                        (<a href="https://www.google.com.ua/maps/place/{{ address.latitude }},{{ address.longitude }}" target="_blank">показати на карті</a>)
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td class="row-name">Код ЄДРПОУ:</td>
            <td class="row-value">{{ institutionUnit.edrpou }}</td>
        </tr>
        <tr>
            <td class="row-name">Повна назва:</td>
            <td class="row-value">
                {{ institutionUnit.name }}
                {#{% if institutionUnit.number %}({{ institutionUnit.number }}){% endif %}
                {#{% if institutionUnit.number %}({{ institutionUnit.number }}){% endif %}
                {{ institution.name }}
            </td>
        </tr>
        <tr>
            <td class="row-name">Тип відділення:</td>
            <td class="row-value">{{ institutionUnit.type }}</td>
        </tr>
        </tbody>
    </table>
</section>

{% if unitDepartments %}
    <section>
        <h2>Відділення</h2>

        <ul>
            {% for unitDepartment in unitDepartments %}
                <li>
                    <a href="{{ unit_department_url(unitDepartment) }}">
                        {{ unitDepartment.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}
#}

{% endblock %}
