{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{% set commentUnitElement = entity.instance.institution %}
{% set commentUnitLink = absolute_url(path('institution_page', { id: commentUnitElement.id, slug: commentUnitElement.slug } )) %}

{% if field.value == 'institutionUnit'  %}
    {% set commentUnitElement = entity.instance.institutionUnit %}
    {% set commentUnitLink = absolute_url(path('institution_unit_page', { id: commentUnitElement.oldId, slug: commentUnitElement.slug } )) %}
{% endif %}

{% if field.value == 'institutionUnitDepartment'  %}
    {% set commentUnitElement = entity.instance.institutionUnitDepartment %}
    {% set commentUnitLink = absolute_url(
        path('unit_department_page', 
        { 
            unitId: entity.instance.institution.id, 
            unitSlug: entity.instance.institution.slug,
            id: commentUnitElement.oldId, 
            slug: commentUnitElement.slug, 
        } 
        )) 
    %}
{% endif %}

<div class="comment-institution-ref">
    <a title="{{ entity.instance.institution.name }}" href="{{ absolute_url(path('institution_page', { id: entity.instance.institution.id, slug: entity.instance.institution.slug } )) }}">{{ 'comment.institution_link_label'|trans({},'admin') }}</a>
    <br>
    <a title="{{ commentUnitElement.name }}" href="{{ commentUnitLink }}">{{ 'comment.comment_link_label'|trans({},'admin') }}</a>
</div>

