<footer>
    <div class="container">
        <div class="row first">
            <div class="logo">
                <div><img src="{{asset('img/logo_white.svg')}}" alt="Логотип MICTO.UA" width="217" height="56" loading="lazy" decoding="async"></div>
                <div class="text">Зробимо українську медицину здоровою разом</div>
            </div>
            <a href="{{ path('institution_request_page') }}">Додати медзаклад</a>
        </div>
        <div class="row">
            <div class="title">Проєкт МІСТО.ЮА</div>
            <ul>
                <li><a href="{{ path('about_page') }}">Про проект</a></li>
                <li><a href="{{ path('home') }}">Медичні установи</a></li>
                <li><a href="{{ path('volunteer_page') }}">Волонтерство</a></li>
                <li><a href="{{ path('partners_page') }}">Партнери</a></li>
                <li class="investor"><a href="{{ path('investor_page') }}">Інвесторам</a></li>
                <li><a href="{{ path('sponsor_page') }}">Спонсорам</a></li>
                <li><a href="{{ path('donate_page') }}">Допомога проєкту</a></li>
                <li><a href="{{ path('privacy_policy_page') }}">Про персональні дані</a></li>
                <li><a href="{{ path('all_comments_page') }}">Усі відгуки</a></li>
            </ul>
        </div>
        <div class="row contacts">
            <div class="title">Контакти</div>
            <ul>
                <li><a href="tel:+0800505201">0 800 505 201 - Гаряча лінія МОЗ</a> </li>
                <li><a class="email" href="mailto:moz@moz.gov.ua">moz@moz.gov.ua</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="title">Наші соцмережі</div>
            <ul class="social-icons">
                <li>
                    <a class="hide-underline" href="https://instagram.com/micto_ua?utm_medium=copy_link" rel="noopener noreferrer"><img src="{{asset('img/instagram_white.svg')}}" alt="instagram" width="20" height="20" loading="lazy" decoding="async"></a>
                    <a class="hide-underline" href="https://www.facebook.com/100450092618750/posts/110907848239641/" rel="noopener noreferrer"><img src="{{asset('img/facebook_circle_white.svg')}}" alt="facebook" width="20" height="20" loading="lazy" decoding="async"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copy">
        <a href="https://soft.ua/" rel="noopener noreferrer" class="hide-underline">
            <img src="{{asset('img/logoCreator.svg')}}" alt="Логотип soft.ua" loading="lazy" decoding="async">
            Ідея, архітектура, розробка, підтримка та розвиток проєкту
        </a>

    </div>
</footer>