<header>
    <div class="container">
        <nav class="main-nav">
            <div>
                <div class="menu-wrapper">
                    <button class="button menu"><img src="{{asset('img/menu.svg')}}" alt="menu"  width="18" height="14"></button>

                    {% include "components/menu.html.twig" %}
                </div>

                <div class="logo-block">
                    <a href="{{ path('home') }}" class="hide-underline">
                        <img src="{{asset('img/logo.svg')}}" alt="Логотип MICTO.UA" width="215" height="56">
                    </a>
                </div>

                {% if hasSearch %}
                    {% include "components/search.html.twig" %}
                {% endif %}

                <div class="add-new-unit">
                    <a class="button primary" href={{ path('institution_request_page') }}>Додати<span> медзаклад</span></a>
                </div>

                {% if app.user %}
                    <div class="cabinet-block">
                        <a href="{{ path('cabinet') }}">{{ app.user.getUserIdentifier() }}</a>
                    </div>
                    <div class="logout-block">
                        <a class="button" href="{{ path('cabinet_logout') }}">Вихід</a>
                    </div>
                {% else %}
                    <div class="login-block">
                        <a class="button secondary color-9" href="{{ path('auth_page') }}">Увійти</a>
                    </div>
                {% endif %}

            </div>
            <ul class='static-pages'>
                <li>
                    <button id="catalog-btn" class="catalog-btn button primary color-9">Каталог медзакладів</button>
                    
                    {% include "components/catalog_menu.html.twig" %}
                </li>
                <li><a href="{{ path('about_page') }}">Про проект</a></li>
                <li><a href="{{ path('advertising_page') }}">Реклама</a></li>
                <li><a href="{{ path('psychologist_page') }}">Психолог</a></li>
                <li><a href="{{ path('investor_page') }}">Інвесторам</a></li>
                <li><a href="{{ path('donate_page') }}">Підтримати проєкт</a></li>
                <li><a href="{{ path('all_comments_page') }}">Усі відгуки</a></li>
            </ul>
        </nav>
    </div>
</header>
