<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: https://ogp.me/ns#" itemscope="" itemtype="https://schema.org/WebPage" lang="{{ app.request.locale }}_UA">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
		<link rel="icon" href="{{ asset('favicon.ico') }}">

		<title>
			{% block title %}Реєстрація
			{% endblock %}
		</title>

		{{ leogout_seo('basic') }}
		{{ leogout_seo('og') }}

		{% block stylesheets %}
			{{ encore_entry_link_tags('registerPage') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('registerPage') }}
		{% endblock %}

		<script>
			const captchaPublicKey = '{{ captchaPublicKey ? captchaPublicKey : null }}'
if (captchaPublicKey) {
window.captchaPublicKey = captchaPublicKey
}
		</script>

		{# TODO: Set dynamic locale ( hl=LOCALE ) #}
		<script src="https://www.google.com/recaptcha/api.js?render=explicit&hl=uk" async defer></script>
	</head>
	<body>

		{% block header %}
			{%- include 'layout/header.html.twig' with { hasSearch: true } -%}
		{% endblock %}

		{% block body %}
		
		{% endblock %}

		{%- include 'layout/footer.html.twig' -%}

		{%- block backToTop %}
		<div id="back-to-top" title="Наверх">
			<i class="icon arrow-up"></i>
		</div>
	{%- endblock %}
</body></html>
