{# @var array emails #}
{# @var array phones #}
<div class="phones-wrapper">
    <span>Контакти</span>
    <div>
        {% if emails | default([]) is not empty %}
            {% for row in emails %}
                <div class="phone-row">
                    <div>
                        <a href="mailto:{{ row.email }}">{{ row.email }}</a>
                    </div>
                    {% if row.comment %}
                        <span>{{ row.comment }}</span>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}

        {% if phones | default([]) is not empty %}
            {% for phone in phones %}
                <div class="phone-row">
                    <div>
                        <a href="tel:{{ phone.number }}">{{ phone.number }}</a>
                    </div>
                    {% if phone.comment %}
                        <span>{{ phone.comment }}</span>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
