{# @var Schedule schedule #}

{% if theme is defined %}
    {% set currentTheme = theme %}
{% else %}
    {% set currentTheme = '' %}
{% endif %}

{% set today = schedule|filter(item => item.dayOfWeek.name|lower == "now"|date("D")|lower)|first %}

<div class="worktime dropdown block">
    <div class="title">
        <span>
            {% if today %}
                {% if today.isHoliday %}
                    {{ ('schedule.holiday')|trans }}
                {% elseif today.isAroundTheClock %}
                    {{ ('schedule.around_the_clock')|trans }}
                {% else %}
                    {{ today.startTime|date('H:i') }} - {{ today.endTime|date('H:i') }}
                {% endif %}
            {% else %}
                -
            {% endif %}

            ({{ 'schedule.today'|trans }})
        </span>
        <i class="chevron-down  icon {{ currentTheme ? currentTheme : 'dark' }}"></i>
    </div>
    <div class="dropdown-items">
        {% for item in schedule %}
            <div>
                <div class="day-title">
                    {{ ('schedule.day_short.'~item.dayOfWeek.name)|trans }}:
                </div>

                {% if item.isHoliday %}
                    {{ ('schedule.holiday')|trans }}
                {% elseif item.isAroundTheClock %}
                    {{ ('schedule.around_the_clock')|trans }}
                {% else %}
                    <span class="start-time">{{ item.startTime|date('H:i') }}</span> - <span class="end-time">{{ item.endTime|date('H:i') }}</span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
